<div class="flex-p">
  <mat-card>
    <a routerLink="/stock-details" style=" display: flex;
    flex-wrap: wrap;
    align-content:flex-start;"><img src="https://img.icons8.com/bubbles/50/000000/left.png"></a>
    <mat-card-header fxLayoutAlign="center">
      <mat-card-subtitle>
        <h3>Add Stock Details</h3>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="DOForm" fxLayout="column" fxLayoutAlign="center">
        
        <div class="row col-md-12">
          <div class="col-md-3">
          <mat-form-field class="w-100">
          <input matInput placeholder="Stock" formControlName="stock">
        </mat-form-field>
         </div>
        <!-- <mat-form-field class="w-100">
          <input matInput placeholder="Score Type" formControlName="score_type">
        </mat-form-field> -->
        <div class="col-md-3">
        <mat-form-field class="w-100">
            <mat-label>Score Type</mat-label>
            <mat-select formControlName="score_type">
              <mat-option [value]="1">Future + Option</mat-option>
              <mat-option [value]="2">Future Only</mat-option>
            </mat-select>
          </mat-form-field>
          </div>

          <!-- <div class="col-md-3">
            <mat-form-field class="w-100">
              <input matInput placeholder="Rank Change" formControlName="rank_change">
            </mat-form-field>
          </div>

          <div class="col-md-3">
          <mat-form-field class="w-100">
            <input matInput [matDatepicker]="picker1" placeholder="Rank Change Date" formControlName="rank_change_date">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        </div> -->

        <!-- <mat-form-field class="w-100">
          <input matInput placeholder="Max Range" formControlName="maxrange">
        </mat-form-field>

        <mat-form-field class="w-100">
          <input matInput placeholder="Max Score" formControlName="maxscore">
        </mat-form-field>

        <mat-form-field class="w-100">
          <input matInput placeholder="Interval" formControlName="interval">
        </mat-form-field>

        <mat-form-field class="w-100">
          <input matInput placeholder="Score" formControlName="score">
        </mat-form-field> -->
        </div>

        <div class="form-actions" style="text-align: center;">
          <!-- <button mat-raised-button color="primary" style="width: 88px" [disabled]="!DOForm.valid" type="submit"
            (click)="onSubmit()">Submit</button> -->
            <button mat-raised-button color="primary" style="width: 88px"  type="submit"
            (click)="onSubmit()">Submit</button>
            
        </div>
        
      </form>
    </mat-card-content>
  </mat-card>
</div>