<!-- <form>

  <mat-grid-list cols="2" rowHeight="12:1">
    <mat-grid-tile class="form-control">
      <input type="file" class="form-control" required (change)="onChange($event)" />
    </mat-grid-tile>
    <mat-grid-tile>
        Upload Your File
        <button mat-button style="border:1px; color:black;background:azure " (click)="onSubmit()">
          <span matTooltip="Upload">
              <img src="https://img.icons8.com/color/48/000000/ms-excel.png">
              <img src="https://img.icons8.com/color/48/000000/csv.png">
  
          </span>
        </button>
    </mat-grid-tile>
  </mat-grid-list>


</form>
<br> -->

<!-- <button mat-icon-button (click)="clicked()">
  <span matTooltip="Add Settlement">
 
      <a routerLink=""><img src="https://img.icons8.com/dusk/48/000000/add.png"></a>
 
  </span>
</button>
<br><br> -->

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> Sr.No. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="dates">
    <th mat-header-cell *matHeaderCellDef>Min OI Change </th>
    <td mat-cell *matCellDef="let element"> {{element.min_oi_change}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="days">
    <th mat-header-cell *matHeaderCellDef>Max OI Change</th>
    <td mat-cell *matCellDef="let element"> {{element.max_oi_change}} </td>
  </ng-container>

  <ng-container matColumnDef="days1">
    <th mat-header-cell *matHeaderCellDef>Min Price Change </th>
    <td mat-cell *matCellDef="let element"> {{element.min_price_change}} </td>
  </ng-container>

  <ng-container matColumnDef="days2">
    <th mat-header-cell *matHeaderCellDef>Max Price Change</th>
    <td mat-cell *matCellDef="let element"> {{element.max_price_change}} </td>
  </ng-container>

  <ng-container matColumnDef="days3">
    <th mat-header-cell *matHeaderCellDef>OI Score</th>
    <td mat-cell *matCellDef="let element"> {{element.oi_scoring}} </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Delete</th>
    <td mat-cell *matCellDef="let element">
      <i class="material-icons" matTooltip="Delete" 
        (click)="onDelete(element.id)">delete_outline</i>
    </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef >Location</th>
    <td mat-cell *matCellDef="let element"><i class="material-icons" style="padding-left: 1.8em;" matTooltip="Edit"><a routerLink="" matTooltipPosition="center">create</a>
    </i> </td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [length]="100" [pageSize]="10" (click)="getPageSize()" [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>