<mat-card>
  <!-- <div class="col-md-3 text-right" style="margin-left: -65px"> -->
  <button mat-icon-button (click)="clicked()">
    <span matTooltip="Add Notes">
      <!-- <mat-icon style="color:black;font-size: 250%"> -->

      <a routerLink="/add-stock-details"><img src="https://img.icons8.com/dusk/48/000000/add.png"></a>

      <!-- </mat-icon> -->
    </span>
  </button><br>
  <!-- </div>  -->

  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> SR NO</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Stock </th>
      <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
    </ng-container>


    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef>Score Type </th>
      <td mat-cell *matCellDef="let element"> 
      <div *ngIf="element.score_type==1; else elseBlock">Future + Options</div>
       <ng-template #elseBlock> Future Only</ng-template>
      </td>
    </ng-container>

    <!-- <ng-container matColumnDef="c1">
      <th mat-header-cell *matHeaderCellDef> Rank Change </th>
      <td mat-cell *matCellDef="let element"> {{element.rank_change}} </td>
    </ng-container>
    
    <ng-container matColumnDef="c2">
      <th mat-header-cell *matHeaderCellDef> Rank Change Date  </th>
      <td mat-cell *matCellDef="let element"> {{element.rank_change_date}} </td>
    </ng-container> -->

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> Edit</th>
      <td mat-cell *matCellDef="let element">
        <i class="material-icons" matTooltip="Edit"><a routerLink="/edit-stock-details/{{element.id}}"
            matTooltipPosition="left">create</a></i>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete</th>
      <td mat-cell *matCellDef="let element">
        <i class="material-icons" matTooltip="Delete" 
          (click)="onDelete(element.id)">delete_outline</i>
      </td>
    </ng-container>
    <!-- <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.cdate}} </td>
  </ng-container> -->

    <!-- <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef >Location</th>
    <td mat-cell *matCellDef="let element"><i class="material-icons" style="padding-left: 1.8em;" matTooltip="Edit"><a routerLink="/edit-lotsize/{{element.finsparc_lotsize_id}}" matTooltipPosition="center">create</a>
    </i> </td>
  </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


  <mat-paginator [length]="100" [pageSize]="10" (click)="getPageSize()" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>

</mat-card>