

// mat-toolbar{
//     background-color: white;
//     /* box-shadow:0 1px 1px 1px rgba(0,0,0,.2), 0 4px 5px 1px rgba(0,0,0,.14), 0 3px 7px 2px rgba(0,0,0,.12) */
//     }
//     /* .button-row button,
//     .button-row  {
//       margin-right: 8px;
//     } */
    
//     /* --toolbar css-- */
    
//     /* table css  */
//     /* .mat-table{
//       overflow: scroll
//     } */
    
//     .mat-table {
//         position:relative;
//         overflow: scroll;
//         max-height: 500px;
//         width:100%;
//         background-color: rgba(255, 255, 255, 0.959);
     
//     }
//     .mat-row, .mat-header-row {
//       min-width: 2000px; 
//       width:100%;
//     }
    
//     .example-container {
//       display: flex;
//       flex-direction: column;
//       min-width: 300px;
//     }
    
//     .example-header {
//       min-height: 64px;
//       padding: 8px 24px 0;
      
//     }
    
//     .mat-form-field {
//       font-size: 14px;
//       width: 100%;
//     }
    
//     /* .mat-table {
//        overflow: auto;
//         max-height: 500px;
      
//     } */
    
//     /* tabel css */
    
//     mat-card{
//       margin: 15px;
//     }


//     .form-control {
//       display: block;
//       width: 100%;
//       padding: .375rem .75rem;
//       font-size: 1rem;
//       line-height: 1.5;
//       color: #495057;
//       background-color: #fff;
//       background-clip: padding-box;
//       // border: 1px solid #ced4da;
//       border-radius: .25rem;
//       transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
//   }
   
//     .mat-column-position{
//     width:100px;
//     min-width:100px;
// }
 
//     .mat-column-name{
//     width:100px;
//     min-width:100px;
// }

//     .mat-column-symbol{
//     width:100px;
//     min-width:100px;
// }

//     .mat-column-expiry_dt{
//     width:100px;
//     min-width:100px;
// }

//     .mat-column-strike_pr{
//     width:100px;
//     min-width:100px;
// }

//     .mat-column-option_type{
//     width:100px;
//     min-width:100px;
// }

//     .mat-column-open{
//     width:100px;
//     min-width:100px;
// }

//     .mat-column-high{
//     width:100px;
//     min-width:100px;
// }

//     .mat-column-low{
//     width:100px;
//     min-width:100px;
// }

//     .mat-column-close{
//     width:100px;
//     min-width:100px;
// }

//     .mat-column-settle_pr{
//     width:100px;
//     min-width:100px;
// }

//     .mat-column-contracts{
//     width:100px;
//     min-width:100px;
// }


//     .mat-column-val_inlakh{
//     width:100px;
//     min-width:100px;
// }

//     .mat-column-open_int{
//     width:100px;
//     min-width:100px;
// }

//     .mat-column-chg_in_oi{
//     width:100px;
//     min-width:100px;
// }

//     .mat-column-cdate{
//     width:100px;
//     min-width:100px;
// }

// // ************************************
// .my-custom-scrollbar {
//     position: relative;
//     height: 450px;
//     overflow: auto;
//     }
//     .table-wrapper-scroll-y {
//     display:inherit;
//     }

//     .my-custom-scrollbar1 {
//         position: relative;
//         height: 450px;
//         overflow:scroll;
//         }
//     .table-wrapper-scroll-x {
//         display:block;
//         }
    
    

table {
    width: 100%;
    // overflow-x:auto;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 10%;
    // height:20%;
   
  }

//   .table {
//     height: 400px;
//     width: 550px;
//     overflow: auto;
//   }

.mat-header-cell{
  width:100px;
  min-width:100px;
  }
  

  .my-custom-scrollbar {
    position: relative;
    height: 450px;
    min-height: 400px;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display:flex;
    }




    .tab {
        margin-left: 2.5em
       } 