<!-- 
<div class="table-wrapper-scroll-y my-custom-scrollbar">

<form>

  <mat-grid-list cols="2" rowHeight="12:1" rowWidth="12:1">
    <mat-grid-tile class="form-control">
      <input type="file" class="form-control" required (change)="onChange($event)" />
    </mat-grid-tile>
    <mat-grid-tile>
        Upload Your File
      <button mat-button style="border:1px; color:black;background:azure " (click)="onSubmit()">
        <span matTooltip="Upload">
            <img src="https://img.icons8.com/color/48/000000/ms-excel.png">
            <img src="https://img.icons8.com/color/48/000000/csv.png">

        </span>
      </button>
    </mat-grid-tile>
  </mat-grid-list>


</form>
<br>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <div class="table-wrapper-scroll-x my-custom-scrollbar1">

  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Instrument Name </th>
    <td mat-cell *matCellDef="let element"> {{element.instrument}} </td>
  </ng-container>

  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Symbol </th>
    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
  </ng-container>

  <ng-container matColumnDef="expiry_dt">
    <th mat-header-cell *matHeaderCellDef> Expiry Date </th>
    <td mat-cell *matCellDef="let element"> {{element.expiry_dt}} </td>
  </ng-container>

  <ng-container matColumnDef="strike_pr">
      <th mat-header-cell *matHeaderCellDef> Strike Rate </th>
      <td mat-cell *matCellDef="let element"> {{element.strike_pr}} </td>
  </ng-container>

  <ng-container matColumnDef="option_type">
    <th mat-header-cell *matHeaderCellDef> Option Type </th>
    <td mat-cell *matCellDef="let element"> {{element.option_type}} </td>
  </ng-container>

  <ng-container matColumnDef="open">
    <th mat-header-cell *matHeaderCellDef>Open </th>
    <td mat-cell *matCellDef="let element"> {{element.open}} </td>
  </ng-container>

  <ng-container matColumnDef="high">
    <th mat-header-cell *matHeaderCellDef> High </th>
    <td mat-cell *matCellDef="let element"> {{element.high}} </td>
  </ng-container>

  <ng-container matColumnDef="low">
    <th mat-header-cell *matHeaderCellDef> Low </th>
    <td mat-cell *matCellDef="let element"> {{element.low}} </td>
  </ng-container>

  <ng-container matColumnDef="close">
    <th mat-header-cell *matHeaderCellDef> Close </th>
    <td mat-cell *matCellDef="let element"> {{element.close}} </td>
  </ng-container>

  <ng-container matColumnDef="settle_pr">
    <th mat-header-cell *matHeaderCellDef> Settle Price </th>
    <td mat-cell *matCellDef="let element"> {{element.settle_pr}} </td>
  </ng-container>

  <ng-container matColumnDef="contracts">
    <th mat-header-cell *matHeaderCellDef> Contracts </th>
    <td mat-cell *matCellDef="let element"> {{element.contracts}} </td>
  </ng-container>

  <ng-container matColumnDef="val_inlakh">
    <th mat-header-cell *matHeaderCellDef> Value In Lakhs </th>
    <td mat-cell *matCellDef="let element"> {{element.val_inlakh}} </td>
  </ng-container>

  <ng-container matColumnDef="open_int">
    <th mat-header-cell *matHeaderCellDef> Open Intrest </th>
    <td mat-cell *matCellDef="let element"> {{element.open_int}} </td>
  </ng-container>

  <ng-container matColumnDef="chg_in_oi">
    <th mat-header-cell *matHeaderCellDef> Change in OI </th>
    <td mat-cell *matCellDef="let element"> {{element.chg_in_oi}} </td>
  </ng-container>

  <ng-container matColumnDef="cdate">
    <th mat-header-cell *matHeaderCellDef> BhavCopy Date </th>
    <td mat-cell *matCellDef="let element"> {{element.timestamp_finsparc_bhavcopy}} </td>
  </ng-container>

  <ng-container matColumnDef="update">
    <th mat-header-cell *matHeaderCellDef>Uploaded Date </th>
    <td mat-cell *matCellDef="let element"> {{element.created_on}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</div>
</table>

<mat-paginator [length]="100" [pageSize]="10" (click)="getPageSize()" [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>

</div>
 -->


 
 <!-- <div class="table-wrapper-scroll-y my-custom-scrollbar"> -->

  <form>
  
    <mat-grid-list cols="2" rowHeight="12:1" rowWidth="12:1">
      <mat-grid-tile class="form-control">
        <input type="file" class="form-control" required (change)="onChange($event)" />
      </mat-grid-tile>
      <mat-grid-tile>
          Upload Your File
        <button mat-button style="border:1px; color:black;background:azure " (click)="onSubmit()">
          <span matTooltip="Upload">
              <img src="https://img.icons8.com/color/48/000000/ms-excel.png">
              <img src="https://img.icons8.com/color/48/000000/csv.png">
  
          </span>
        </button>
        <p class="tab"><u><a href="https://www.nseindia.com/products/content/derivatives/equities/archieve_fo.htm" target="_blank" title="Choose Option BhavCopy">NSE Data</a></u>&nbsp;&nbsp;&nbsp;
          <u><a href="http://3.6.6.59:7005/samples/BhavCopy10feb2020.ods" target="_blank" title="This is your NSE Sample File">Sample Data</a></u></p>
      </mat-grid-tile>
    </mat-grid-list>
  
  
  </form>
  <br>

  <mat-form-field> 
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

<div class=" example-container mat-elevation-z8">
  <div class="table-wrapper-scroll-y my-custom-scrollbar">
    
    <table mat-table [dataSource]="dataSource" matSort>
 
      <ng-container matColumnDef="id"> 
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container> 

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Instrument</th>
        <td mat-cell *matCellDef="let row" >
        <span>{{row.instrument}}</span>
      </td>
      </ng-container>

      <ng-container matColumnDef="d1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Symbol</th>
        <td mat-cell *matCellDef="let row" >
        <span>{{row.symbol}}</span>
      </td>
      </ng-container>

      <ng-container matColumnDef="d2">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Expiry dt</th>
        <td mat-cell *matCellDef="let row" >
        <span>{{row.expiry_dt}}</span>
      </td>
      </ng-container>

      <ng-container matColumnDef="d3">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Strike Price</th>
        <td mat-cell *matCellDef="let row" >
        <span>{{row.strike_pr}}</span>
      </td>
      </ng-container>

      <ng-container matColumnDef="d4">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Options</th>
        <td mat-cell *matCellDef="let row" >
        <span>{{row.option_type}}</span>
      </td>
      </ng-container>

      <ng-container matColumnDef="d5">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Open</th>
        <td mat-cell *matCellDef="let row" >
        <span>{{row.open}}</span>
      </td>
      </ng-container>

      <ng-container matColumnDef="d6">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>High</th>
        <td mat-cell *matCellDef="let row" >
        <span>{{row.high}}</span>
      </td>
      </ng-container>

      <ng-container matColumnDef="d7">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Low</th>
        <td mat-cell *matCellDef="let row" >
        <span>{{row.low}}</span>
      </td>
      </ng-container>
      
      <ng-container matColumnDef="d8">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Close</th>
        <td mat-cell *matCellDef="let row" >
        <span>{{row.close}}</span>
      </td>
      </ng-container>
      
      <ng-container matColumnDef="d9">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Settlement price</th>
        <td mat-cell *matCellDef="let row" >
        <span>{{row.settle_pr}}</span>
      </td>
      </ng-container>
      
      <ng-container matColumnDef="d10">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Contracts</th>
        <td mat-cell *matCellDef="let row" >
        <span>{{row.contracts}}</span>
      </td>
      </ng-container>

      <ng-container matColumnDef="d11">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Value in lakh</th>
        <td mat-cell *matCellDef="let row" >
        <span>{{row.val_inlakh}}</span>
      </td>
      </ng-container>

      <ng-container matColumnDef="d12">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Open Int</th>
        <td mat-cell *matCellDef="let row" >
        <span>{{row.open_int}}</span>
      </td>
      </ng-container>

      <ng-container matColumnDef="d13">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>change in OI</th>
        <td mat-cell *matCellDef="let row" >
        <span>{{row.chg_in_oi}}</span>
      </td>
      </ng-container>

      <ng-container matColumnDef="d14">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>BhavCopy Date</th>
        <td mat-cell *matCellDef="let row" >
        <span>{{row.timestamp_finsparc_bhavcopy}}</span>
      </td>
      </ng-container>

      <ng-container matColumnDef="d15">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Uploaded Date</th>
        <td mat-cell *matCellDef="let row" >
        <span>{{row.created_on}}</span>
      </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
      
    </table>
</div>
  <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>

</div>
