<form>

  <mat-grid-list cols="2" rowHeight="12:1">
    <mat-grid-tile class="form-control">
      <input type="file" class="form-control" required (change)="onChange($event)" />
    </mat-grid-tile>
    <mat-grid-tile>
      Upload Your File
      <button mat-button style="border:1px; color:black;background:azure " (click)="onSubmit()">
        <!-- <button mat-button style="border:1px; color:black;background:azure "> -->
        <span matTooltip="Upload">
          <img src="https://img.icons8.com/color/48/000000/ms-excel.png">
          <img src="https://img.icons8.com/color/48/000000/csv.png">

        </span>
      </button>
      <p class="tab"><u><a href="https://www.nseindia.com/products/content/all_daily_reports.htm" target="_blank"
            title="Go to Derivatives Tab and Download Permitted Lot Sizes File in Archives Column">NSE
            Data</a></u>&nbsp;&nbsp;&nbsp;
        <u><a href="http://3.6.6.59:7005/samples/market_lot.ods" target="_blank"
            title="Download Your Sample File here.">Sample Data</a></u></p>
    </mat-grid-tile>
    <!-- <mat-grid-tile>3</mat-grid-tile> -->
  </mat-grid-list>


</form>
<br>
<button mat-icon-button>
  <span matTooltip="Add LotSize">
    <!-- <mat-icon style="color:black;font-size: 250%"> -->

    <a routerLink="/add-lotsize"><img src="https://img.icons8.com/dusk/48/000000/add.png"></a>
    <!-- <a><img src="https://img.icons8.com/color/48/000000/task.png"></a> -->

    <!-- </mat-icon> -->
  </span>
</button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<span>
  <span *ngIf="color1=='red' && modification_status1==null">
    <font color="red">Modification Required</font>
  </span>
  <span *ngIf="color1=='nothing'">Modification Not required in Lot Change.</span>
  
  <span *ngIf="modification_status1==1 && color1=='red'">
    <font color="green">Currently Updated</font>
  </span>
</span>
<br>

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.finsparc_lotsize_id}} </td>
  </ng-container>

  <!-- Name Column -->
  <!-- <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Instrument Name </th>
    <td mat-cell *matCellDef="let element"> {{element.instrument}} </td>
  </ng-container> -->


  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Symbol </th>
    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
  </ng-container>

  <ng-container matColumnDef="lot_size">
    <th mat-header-cell *matHeaderCellDef> Lot Size </th>
    <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.lot_date}} </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef>Location</th>
    <td mat-cell *matCellDef="let element"><i class="material-icons" style="padding-left: 1.8em;" matTooltip="Edit"><a
          routerLink="/edit-lotsize/{{element.finsparc_lotsize_id}}" matTooltipPosition="center">create</a>
      </i> </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Delete </th>
    <td mat-cell *matCellDef="let element" matTooltip="Delete"><a (click)="onDelete(element.symbol)"> <img
          src="https://img.icons8.com/cute-clipart/48/000000/delete-forever.png"> </a></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [length]="100" [pageSize]="10" (click)="getPageSize()" [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>