
  <!-- <button mat-icon-button>
    <span matTooltip="Add Score">
      
      <a routerLink="/add-score"><img src="https://img.icons8.com/dusk/48/000000/add.png"></a>
      
    </span>  <br>

  </button> -->


  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  
  <div class=" example-container mat-elevation-z8">
    <div style="overflow-x:auto;">
      <table mat-table [dataSource]="dataSource" matSort>
  
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>
  
        <!-- Progress Column -->
        <!-- <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Image </th>
          <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
        </ng-container> -->
  
       
        <!-- <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container> -->
  
       
        <ng-container matColumnDef="designation">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Particulars</th>
          <td mat-cell *matCellDef="let row"> {{row.particular}} </td>
        </ng-container>
  
        <ng-container matColumnDef="d1">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Case 1</th>
            <td mat-cell *matCellDef="let row"> {{row.case1}} </td>
          </ng-container>
  
          <ng-container matColumnDef="d2">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Case 2</th>
            <td mat-cell *matCellDef="let row"> {{row.case2}} </td>
          </ng-container>
  
          <ng-container matColumnDef="d3">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Case 3</th>
            <td mat-cell *matCellDef="let row"> {{row.case3}} </td>
          </ng-container>
  
          <ng-container matColumnDef="d4">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Case 4</th>
            <td mat-cell *matCellDef="let row"> {{row.case4}} </td>
          </ng-container>
  
          <ng-container matColumnDef="d5">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>case 5</th>
            <td mat-cell *matCellDef="let row"> {{row.case5}} </td>
          </ng-container>
          <ng-container matColumnDef="d6">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Case 6</th>
            <td mat-cell *matCellDef="let row"> {{row.case6}} </td>
          </ng-container>
  
          <ng-container matColumnDef="d7">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Case 7</th>
            <td mat-cell *matCellDef="let row"> {{row.case7}} </td>
          </ng-container>
  
          <ng-container matColumnDef="d8">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>case 8</th>
            <td mat-cell *matCellDef="let row"> {{row.case8}} </td>
          </ng-container>

          <ng-container matColumnDef="d9">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>case 9</th>
            <td mat-cell *matCellDef="let row"> {{row.case9}} </td>
          </ng-container>
  
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit</th>
            <td mat-cell *matCellDef="let row">
              <i class="material-icons" matTooltip="Edit"><a routerLink="/edit-score-details/{{row.id}}" matTooltipPosition="left">create</a></i>
              </td>
          </ng-container>
  
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
        
      </table>
    </div>
      <mat-paginator [pageSizeOptions]="[ 25,50,100]"></mat-paginator>
    
  
  </div>
  
  