
<button mat-icon-button>
    <span matTooltip="Add Industry">
  
      <a routerLink="/add-industry/0"><img src="https://img.icons8.com/nolan/50/000000/add.png"></a>
    </span>  <br>

  </button>

  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  
  <div class=" example-container mat-elevation-z8">
    <div style="overflow-x:auto;">
      <table mat-table [dataSource]="dataSource" matSort>
  
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>
  
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Industry Name</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.name}}</span>
        </td>
        </ng-container>
  
          <ng-container matColumnDef="sub1">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Stock</th>
            <td mat-cell *matCellDef="let row"><a routerLink="/industry-stock/null/{{row.id}}" matTooltipPosition="left">View Stock</a>
             </td>
          </ng-container>  
  
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit</th>
            <td mat-cell *matCellDef="let row">
              <i class="material-icons" matTooltip="Edit"><a routerLink="/edit-industry/{{row.id}}" matTooltipPosition="left">create</a></i>
              </td>
          </ng-container> 

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Delete</th>
            <td mat-cell *matCellDef="let row">
              <span matTooltip="Delete" (click)="onDelete(row.id)">
              <img src="https://img.icons8.com/cute-clipart/50/000000/delete-forever.png"> </span>
            </td>
          </ng-container>
          
  
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
        
      </table>
    </div>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    
  
  </div>
  
  