<mat-card>
  <!-- <div class="col-md-3 text-right" style="margin-left: -65px"> -->
  <div class="row col-md-12">
    <div class="col-md-2">
      <button mat-icon-button (click)="clicked()">
        <span matTooltip="Add Notes">
          <!-- <mat-icon style="color:black;font-size: 250%"> -->

          <a routerLink="/addeditors"><img src="https://img.icons8.com/dusk/48/000000/add.png"></a>

          <!-- </mat-icon> -->
        </span>
      </button>
    </div><br><br><br>

    <div class="col-md-2">
      <!-- <mat-form-field class="w-100">
        <mat-select placeholder="Contracts" [(ngModel)]="modeselect" (selectionChange)="onChange($event.value)">
          <mat-option value="daily">Daily</mat-option>
          <mat-option value="weekly">Weekly</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-label>{{modeselect}}</mat-label> -->
    </div>
  </div>
  <!-- </div>  -->

  <!-- <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field> -->

<!-- <div *ngIf="modeselect=='daily'"> -->
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
      <th mat-header-cell *matHeaderCellDef> {{column}} </th>
      <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <!-- <div class="example-element-diagram"> -->
          <!-- <div class="example-element-position"> {{element.question}} </div>
       <div class="example-element-symbol"> {{element.symbol}} </div>
       <div class="example-element-name"> {{element.name}} </div>
       <div class="example-element-weight"> {{element.weight}} </div> -->

          <!-- </div> -->
          <div class="example-element-description">
            <!-- {{element.question}} -->
            <!-- <ol type="1">
         <li>{{element.option1}}</li>
         <li>{{element.option2}}</li>
         <li>{{element.option3}}</li>
         <li>{{element.option4}}</li>
       </ol><br> -->

            <span class="example-element-description-attribution">Date :{{element.cdate}}
              <i class="material-icons" matTooltip="Delete" style="padding-left: 1.8em;"
                (click)="onDelete(element.finsparc_editors_notes_id)">delete_outline</i>
              <i class="material-icons" style="padding-left: 1.8em;" matTooltip="Edit"><a
                  routerLink="/edit-editors/{{element.finsparc_editors_notes_id}}"
                  matTooltipPosition="left">create</a></i>

            </span><br>
            <!-- <span style="padding-left: 1.8em;"><h2 mat-dialog-title>Measures Event \ Cues</h2>
        <hr>
        <div mat-dialog-content>
            <div innerHTML="{{element.description1}}"></div> 
        </div>
       </span>
       
       <span style="padding-left: 1.8em;"><h2 mat-dialog-title>Opening Session</h2>
        <hr>
        <div mat-dialog-content>
            <div innerHTML="{{element.description2}}"></div> 
        </div>
       </span>
       
       <span style="padding-left: 1.8em;"><h2 mat-dialog-title>Mid Session</h2>
        <hr>
        <div mat-dialog-content>
            <div innerHTML="{{element.description3}}"></div> 
        </div>
       </span>
       
       <span style="padding-left: 1.8em;"><h2 mat-dialog-title>Closing Session</h2>
        <hr>
        <div mat-dialog-content>
            <div innerHTML="{{element.description4}}"></div> 
        </div>
       </span> -->
            <span style="padding-left: 1.8em;">
              <h2 mat-dialog-title>Our View</h2>
              <hr>
              <div mat-dialog-content>
                <div innerHTML="{{element.description}}"></div>
              </div>
            </span>
            <!-- <span class="example-element-description-attribution"> is Correct Answer </span> -->
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

  <!-- <div class="example-container mat-elevation-z8">

    <mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.finsparc_editors_notes_id}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Description</mat-header-cell>
        <mat-cell *matCellDef="let row"> 
          <button mat-stroked-button color="accent" (click)="openDialog(row.finsparc_editors_notes_id,row.description,row.char_lenght)">Show Description</button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="created_on">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Date</mat-header-cell>
        <mat-cell *matCellDef="let row"> 
          {{row.created_on}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="delete_note">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Delete Notes</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-button (click)="onDelete(row.finsparc_editors_notes_id)">
            <span matTooltip="Delete"> 
          <img src="https://img.icons8.com/color/48/000000/waste.png">
            </span>
            </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Edit</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <i class="material-icons" matTooltip="Edit"><a routerLink="/edit-editors/{{row.finsparc_editors_notes_id}}" matTooltipPosition="left">create</a></i>
          </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div> -->
  <!-- </div> -->
</mat-card>