
<h1 mat-dialog-title>Notes Data</h1>
<hr>
<!-- <div [innerHTML]>{{data.description}}</div> -->
<div mat-dialog-content>
    <!-- <div [innerHTML]="daya"></div> -->
    <div innerHTML="{{daya}}"></div> 
    
</div>


<!-- <div> <div [innerHTML]="daya"></div> </div> -->

<div mat-dialog-actions>
        <button mat-button mat-stroked-button color="primary" (click)="onNoClick()" cdkFocusInitial>Close</button>
        <!-- <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button> -->
</div>