<!-- <div style="text-align:center"><button class="row" mat-button style="color:green"  (click)="download()">Download</button></div> -->
<!-- <div style="text-align:center">  -->
<button mat-icon-button (click)="download()">
  <span matTooltip="Download Excel Sheet">
    <img src="https://img.icons8.com/color/48/000000/circled-down.png">
  </span>
</button>
<!-- </div> -->
<br> <br> 

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> symbol </th>
    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> call value </th>
    <td mat-cell *matCellDef="let element"> {{element.call_value}} </td>
  </ng-container>


  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> put value </th>
    <td mat-cell *matCellDef="let element"> {{element.put_value}} </td>
  </ng-container>

  <!-- <ng-container matColumnDef="lot_size">
    <th mat-header-cell *matHeaderCellDef> cdate </th>
    <td mat-cell *matCellDef="let element"> {{element.cdate}} </td>
  </ng-container> -->

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.cdate}} </td>
  </ng-container>

  <!-- <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef >Location</th>
    <td mat-cell *matCellDef="let element"><i class="material-icons" style="padding-left: 1.8em;" matTooltip="Edit"><a routerLink="/edit-lotsize/{{element.finsparc_lotsize_id}}" matTooltipPosition="center">create</a>
    </i> </td>
  </ng-container> -->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<mat-paginator [length]="100" [pageSize]="10" (click)="getPageSize()" [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>