<div class="flex-p">
  <mat-card>
    <a routerLink="/lotsize" style=" display: flex;
      flex-wrap: wrap;
      align-content:flex-start;"><img src="https://img.icons8.com/bubbles/50/000000/left.png"></a>
    <mat-card-header fxLayoutAlign="center">
      <mat-card-subtitle>
        <h3>Add Lotsize</h3>
      </mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>

      <form [formGroup]="lotForm" fxLayout="column" fxLayoutAlign="center">

        <div>
          <div class="row col-md-12">
            <div class="col-md-3">
              <mat-form-field class="w-100">
                <input matInput placeholder="instrument Name" formControlName="instrument">
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="w-100">
                <input matInput placeholder="symbol" formControlName="symbol">
              </mat-form-field>
            </div>

            <div class="col-md-3">
              <mat-form-field class="w-100">
                <input matInput placeholder="lot" formControlName="stock">
              </mat-form-field>
            </div>

              <div class="col-md-3">
              <mat-form-field class="w-100">
                  <input matInput [matDatepicker]="picker1" placeholder="Lot Date" formControlName="lot_date">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
              </div>
          
            </div>

        </div>

        <div class="form-actions" style="text-align: center;">
          <button mat-raised-button color="primary" style="width: 88px" [disabled]="!lotForm.valid" type="submit"
            (click)="onSubmit()">Submit</button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>