<button mat-icon-button>
    <span matTooltip="Add Corporate Action">
  
      <a routerLink="/add-lot-change"><img src="https://img.icons8.com/dusk/48/000000/add.png"></a>
    </span>  <br>

</button> 

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class=" example-container mat-elevation-z8">
  <div style="overflow-x:auto;">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <ng-container matColumnDef="designation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Change Date</th>
        <td mat-cell *matCellDef="let row"><span *ngIf="row.color=='red' && row.modification_status==null">
            <font color="red">{{row.change_date}}</font>
          </span>
          <span *ngIf="row.color=='nothing'">{{row.change_date}}</span>
          <span *ngIf="row.modification_status==1 && row.color=='red'">
            <font color="green">{{row.change_date}}</font>
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Previous Lot Size</th>
        <td mat-cell *matCellDef="let row"> <span *ngIf="row.previous_lotsize==null">--</span>
          <span>{{row.previous_lotsize}}</span> </td>
      </ng-container>

      <ng-container matColumnDef="sub">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Symbol</th>
        <td mat-cell *matCellDef="let row"> {{row.symbol}} </td>
      </ng-container>

      <ng-container matColumnDef="sub1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Change Type</th>
        <td mat-cell *matCellDef="let row"> {{row.change_type}} </td>
      </ng-container>

      <ng-container matColumnDef="sub2">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Adjust Factor</th>
        <td mat-cell *matCellDef="let row"> {{row.adjust_factor}} </td>
      </ng-container>

      <ng-container matColumnDef="modi">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Modification</th>
        <td mat-cell *matCellDef="let row"><span *ngIf="row.color=='red' && row.modification_status==null">
            <font color="red">Modification Required</font>
          </span>
 
          <span *ngIf="row.color=='nothing'">--</span>
          <!-- <span *ngIf="color1=='nothing'">--</span> -->
          <span *ngIf="row.modification_status==1 && row.color=='red'">
            <font color="green">Currently Updated</font>
          </span>
        </td>
      </ng-container>  

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit</th>
        <td mat-cell *matCellDef="let row">
          <i class="material-icons" matTooltip="Edit"><a routerLink="/edit-lot-change/{{row.id}}"
              matTooltipPosition="left">create</a></i>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>

    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[100]"></mat-paginator>


</div> 