<div class="flex-p">
  <mat-card>
    <a routerLink="/score-details" style=" display: flex;
    flex-wrap: wrap;
    align-content:flex-start;"><img src="https://img.icons8.com/bubbles/50/000000/left.png"></a>
    <mat-card-header fxLayoutAlign="center">
      <mat-card-subtitle>
        <h3>Add Finsparc Score Calculation Details</h3>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="scoreForm" fxLayout="column" fxLayoutAlign="center">

        <mat-form-field class="w-100">
          <input matInput placeholder="Particular" formControlName="particular">
        </mat-form-field>

        <mat-form-field class="w-100">
          <input matInput placeholder="Case1 Condition" formControlName="case1_condition">
        </mat-form-field>

        <mat-form-field class="w-100">
          <input matInput placeholder="Case1" formControlName="case1">
        </mat-form-field>

        <mat-form-field class="w-100">
          <input matInput placeholder="Case2 Condition" formControlName="case2_condition">
        </mat-form-field>

        <mat-form-field class="w-100">
          <input matInput placeholder="Case2" formControlName="case2">
        </mat-form-field>

        <mat-form-field class="w-100">
          <input matInput placeholder="Case3 Condition" formControlName="case3_condition">
        </mat-form-field>

        <mat-form-field class="w-100">
          <input matInput placeholder="Case3" formControlName="case3">
        </mat-form-field>

        <mat-form-field class="w-100">
          <input matInput placeholder="Case4 Condition" formControlName="case4_condition">
        </mat-form-field>

        <mat-form-field class="w-100">
          <input matInput placeholder="Case4" formControlName="case4">
        </mat-form-field>

        <mat-form-field class="w-100">
          <input matInput placeholder="Case5 Condition" formControlName="case5_condition">
        </mat-form-field>

        <mat-form-field class="w-100">
          <input matInput placeholder="Case5" formControlName="case5">
        </mat-form-field>

        <mat-form-field class="w-100">
          <input matInput placeholder="Case6 Condition" formControlName="case6_condition">
        </mat-form-field>

        <mat-form-field class="w-100">
          <input matInput placeholder="Case6" formControlName="case6">
        </mat-form-field>

        <mat-form-field class="w-100">
          <input matInput placeholder="Case7 Condition" formControlName="case7_condition">
        </mat-form-field>

        <mat-form-field class="w-100">
          <input matInput placeholder="Case7" formControlName="case7">
        </mat-form-field>

        <mat-form-field class="w-100">
          <input matInput placeholder="Case8 Condition" formControlName="case8_condition">
        </mat-form-field>

        <mat-form-field class="w-100">
          <input matInput placeholder="Case8" formControlName="case8">
        </mat-form-field>

        <mat-form-field class="w-100">
          <input matInput placeholder="Case9 Condition" formControlName="case9_condition">
        </mat-form-field>

        <mat-form-field class="w-100">
          <input matInput placeholder="Case9" formControlName="case9">
        </mat-form-field>

        <div class="form-actions" style="text-align: center;">
          <!-- <button mat-raised-button color="primary" style="width: 88px" [disabled]="!scoreForm.valid" type="submit"
            (click)="onSubmit()">Submit</button> -->
            <button mat-raised-button color="primary" style="width: 88px"  type="submit"
            (click)="onSubmit()">Submit</button>
          <!-- <button mat-raised-button color="accent" style="width: 88px" type="reset">Reset</button>
          <button mat-raised-button color="warn" style="width: 176px" (click)="back()">Back to Product List</button> -->
        </div>

      </form>
    </mat-card-content>

  </mat-card>
</div>