<mat-card>
<a routerLink="/editornotes" style=" display: flex;
flex-wrap: wrap;
align-content:flex-start;"><img src="https://img.icons8.com/bubbles/50/000000/left.png"></a>
<mat-card-header fxLayoutAlign="center">
<mat-card-subtitle>
  <h3>Add Notes Here</h3>
</mat-card-subtitle>
</mat-card-header>

<mat-card-content>
<div class="control-section">
  <form [formGroup]="rteForm" (ngSubmit)="onSubmit()">
<mat-card>
    <div class="form-group">
        
      <!-- <mat-form-field class="w-100">
            <input matInput placeholder="Market Mood Index" formControlName="market_mood_index">
      </mat-form-field> -->

      <!-- <ejs-richtexteditor #toolsRTE id='alltoolRTE' [toolbarSettings]='tools' [showCharCount]='true'
        (actionBegin)='handleFullScreen($event)' (actionComplete)='actionCompleteHandler($event)'
        [maxLength]='maxLength' placeholder="Measure Events \ Cues" formControlName="notes1">
      </ejs-richtexteditor>

      <ejs-richtexteditor #toolsRTE id='alltoolRTE' [toolbarSettings]='tools' [showCharCount]='true'
      (actionBegin)='handleFullScreen1($event)' (actionComplete)='actionCompleteHandler1($event)'
      [maxLength]='maxLength' placeholder="Opening Session" formControlName="notes2">
      </ejs-richtexteditor>

      <ejs-richtexteditor #toolsRTE id='alltoolRTE' [toolbarSettings]='tools' [showCharCount]='true'
      (actionBegin)='handleFullScreen2($event)' (actionComplete)='actionCompleteHandler2($event)'
      [maxLength]='maxLength' placeholder="Mid Session" formControlName="notes3">
      </ejs-richtexteditor>

      <ejs-richtexteditor #toolsRTE id='alltoolRTE' [toolbarSettings]='tools' [showCharCount]='true'
      (actionBegin)='handleFullScreen3($event)' (actionComplete)='actionCompleteHandler3($event)'
      [maxLength]='maxLength' placeholder="Closing Session" formControlName="notes4">
      </ejs-richtexteditor> -->

      <ejs-richtexteditor #toolsRTE id='alltoolRTE' [toolbarSettings]='tools' [showCharCount]='true'
      (actionBegin)='handleFullScreen4($event)' (actionComplete)='actionCompleteHandler4($event)'
      [maxLength]='maxLength' placeholder="Our View" formControlName="notes">
      </ejs-richtexteditor>

      <mat-form-field>
        <input matInput [matDatepicker]="picker1" placeholder="Select Date" formControlName="cdate">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

&nbsp;<mat-form-field>
        <mat-select placeholder="Type" formControlName="usertype">
          <mat-option value="daily">Daily</mat-option>
          <mat-option value="weekly">Weekly</mat-option>
          
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <div class="example-button-row">
            <button mat-raised-button color="primary" [disabled]="!rteForm.valid">Submit</button>
          </div>
        </div>
        <div class="col-sm-4"></div>
      </div>
    </div>
  </mat-card>
  </form>


</div>
</mat-card-content>
</mat-card>











<!-- <div class="docs-primary-header component-page-header col-md-12">
  <a routerLink="/devices">
    <mat-icon>keyboard_backspace</mat-icon><mat-icon>sd_storage</mat-icon><span class="dash-head">&nbsp;Add Editor Notes</span></a>
</div>
<div class="style">
  <mat-card>
    <div class="example-container">

      <form [formGroup]="editorForm" (ngSubmit)="onSubmit()">

        <mat-form-field>
          <input matInput placeholder="Enter Editors Description" required formControlName="notes">
        </mat-form-field>

        <button mat-button class="buttonCss">
          <span matTooltip="Submit">
            Submit
          </span>
        </button>
      </form>
    </div>
  </mat-card>
</div> -->