<div fxLayout="column">
  <div class="flex-p"> 
      <div fxLayout="column" class="mat-elevation-z8">           
          <mat-form-field class="p-1">
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Type to filter all columns">
          </mat-form-field> 
      </div>
      <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">       
          <ng-container matColumnDef="position">
              <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.finsparc_portfolio_id}} </mat-cell>
          </ng-container>         
          <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef> Portfolio Name </mat-header-cell>
              <mat-cell *matCellDef="let element"><a routerLink='/inportfolio/{{user}}/{{element.finsparc_portfolio_id}}'> {{element.portfolio_name}} </a> </mat-cell>
          </ng-container>     
          <!-- <ng-container matColumnDef="weight">
              <mat-header-cell *matHeaderCellDef> Realized </mat-header-cell>
              <mat-cell *matCellDef="let element"><a routerLink='/inportfolio'>{{element.weight}}</a></mat-cell>
          </ng-container>        
          <ng-container matColumnDef="symbol">
              <mat-header-cell *matHeaderCellDef> Unrealized </mat-header-cell>
              <mat-cell *matCellDef="let element"><a routerLink='/inportfolio'>{{element.symbol}}</a></mat-cell>
          </ng-container>
          <ng-container matColumnDef="total">
            <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
            <mat-cell *matCellDef="let element"> <a routerLink='/inportfolio'>{{element.total}}</a> </mat-cell>
        </ng-container> -->

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>        
  </div>
</div>