<div fxLayout="row wrap" #resizedDiv>
    <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="flex-p"> 
        <mat-card class="p-0">
            <mat-card-header class="p-1" fxLayoutAlign="space-between center">
                <mat-card-subtitle class="m-0">Total Bhavcopy Data</mat-card-subtitle>
                <mat-chip-list>
                    <mat-chip color="accent" selected="true" class="info-chip">
                        <mat-icon class="icon-sm">trending_up</mat-icon>{{tot_bhav}}
                    </mat-chip>
                </mat-chip-list>
            </mat-card-header>         
            <!-- <div class="w-100 h-100p">
                <ngx-charts-bar-vertical
                    [scheme]="colorScheme"
                    [results]="products"                      
                    (select)="onSelect($event)">
                </ngx-charts-bar-vertical>                   
            </div> -->
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="flex-p"> 
        <mat-card class="p-0">
            <mat-card-header class="p-1" fxLayoutAlign="space-between center">
                <mat-card-subtitle class="m-0"><a routerLink="/data-current-bhavcopy">Current Bhavcopy Data</a></mat-card-subtitle>
                <mat-chip-list>
                    <mat-chip color="primary" selected="true" class="info-chip">
                        <mat-icon class="icon-sm">trending_up</mat-icon>{{prev_bhav}}
                    </mat-chip>
                </mat-chip-list>
            </mat-card-header>         
            <!-- <div class="w-100 h-100p">
                <ngx-charts-line-chart
                    [scheme]="colorScheme"
                    [results]="orders"                      
                    [autoScale]="autoScale"
                    (select)="onSelect($event)">
                </ngx-charts-line-chart>                  
            </div> -->
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="flex-p"> 
        <mat-card class="p-0">
            <mat-card-header class="p-1" fxLayoutAlign="space-between center">
                <mat-card-subtitle class="m-0"><a routerLink="/data-market-pulse">Market Pulse Data</a></mat-card-subtitle>
                <mat-chip-list>
                    <mat-chip color="warn" selected="true" class="info-chip">
                        <mat-icon class="icon-sm">trending_up</mat-icon>{{tot_marketpulse}}
                    </mat-chip>
                </mat-chip-list>
            </mat-card-header>         
            <!-- <div class="w-100 h-100p">
                <ngx-charts-bar-vertical
                    [scheme]="colorScheme"
                    [results]="refunds"                      
                    (select)="onSelect($event)">
                </ngx-charts-bar-vertical>                     
            </div> -->
        </mat-card>
    </div>    
    <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="flex-p"> 
        <mat-card class="p-0">
            <mat-card-header class="p-1" fxLayoutAlign="space-between center">
                <mat-card-subtitle class="m-0">IV Report Data</mat-card-subtitle>
                <mat-chip-list>
                    <mat-chip color="accent" selected="true" class="info-chip">
                        <mat-icon class="icon-sm">trending_up</mat-icon>{{tot_ivreport}}
                    </mat-chip>
                </mat-chip-list>
            </mat-card-header>         
            <!-- <div class="w-100 h-100p">
                <ngx-charts-line-chart
                    [scheme]="colorScheme"
                    [results]="customers"                      
                    [autoScale]="autoScale"
                    (select)="onSelect($event)">
                </ngx-charts-line-chart>                    
            </div> -->
        </mat-card>
    </div> 
    
    <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="flex-p"> 
        <mat-card class="p-0">
            <mat-card-header class="p-1" fxLayoutAlign="space-between center">
                <mat-card-subtitle class="m-0">Current IV Report Data</mat-card-subtitle>
                <mat-chip-list>
                    <mat-chip color="accent" selected="true" class="info-chip">
                        <mat-icon class="icon-sm">trending_up</mat-icon>{{prev_ivreport}}
                    </mat-chip>
                </mat-chip-list>
            </mat-card-header>         
            <!-- <div class="w-100 h-100p">
                <ngx-charts-line-chart
                    [scheme]="colorScheme"
                    [results]="customers"                      
                    [autoScale]="autoScale"
                    (select)="onSelect($event)">
                </ngx-charts-line-chart>                    
            </div> -->
        </mat-card>
    </div>

    <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="flex-p"> 
        <mat-card class="p-0">
            <mat-card-header class="p-1" fxLayoutAlign="space-between center">
                <mat-card-subtitle class="m-0"><a routerLink="/data-master">FNO Score Data</a></mat-card-subtitle>
                <mat-chip-list>
                    <mat-chip color="primary" selected="true" class="info-chip">
                        <mat-icon class="icon-sm">trending_up</mat-icon>{{prev_ivreport}}
                    </mat-chip>
                </mat-chip-list>
            </mat-card-header>         
 
        </mat-card>
    </div>


    <!-- <p class="tab"><u><a href="https://www.nseindia.com/products/content/derivatives/equities/archieve_fo.htm" target="_blank" title="Choose Fill Derivative Stats Option">NSE Data</a></u>&nbsp;&nbsp;&nbsp;
        <u><a href="http://3.6.6.59:7005/samples/fii_stats_10-Feb-2020.xls" target="_blank" title="Sample fii_stats File">Sample Data</a></u></p> -->

        <!-- <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="flex-p"> 
            <mat-card class="p-0">
                <mat-card-header class="p-1" fxLayoutAlign="space-between center">
                    <mat-card-subtitle class="m-0"><a routerLink="/data-market-pulse">Market Pulse Data</a></mat-card-subtitle>
                    <mat-chip-list>
                        <mat-chip color="warn" selected="true" class="info-chip">
                            <mat-icon class="icon-sm">trending_up</mat-icon>{{tot_marketpulse}}
                        </mat-chip>
                    </mat-chip-list>
                </mat-card-header>         
            </mat-card>
        </div>  -->

</div>
<br>
    <span><p class="tab">&nbsp;&nbsp;&nbsp;  NSE File Upload Manual Guide &nbsp; <a href="http://3.6.6.59:7005/samples/instruction.pdf" target="_blank" ><span class="blink" style="color: red;">Click to Download ! </span></a></p></span>
 
    <hr>
    BhavCopy Data   : &nbsp;&nbsp;&nbsp;<span *ngIf="uploaded_bhavcopy==1; " style="color:green">Uploaded. <img src="https://img.icons8.com/doodle/36/000000/checkmark.png"></span>
    <span *ngIf="uploaded_bhavcopy!=1; " style="color:red">Not Uploaded.<img src="https://img.icons8.com/doodle/36/000000/delete-sign.png"></span>
<br>
    Marketpulse VIX :&nbsp;&nbsp;<span *ngIf="uploaded_marketpulse_vix==1; " style="color:green">Uploaded.<img src="https://img.icons8.com/doodle/36/000000/checkmark.png"></span>
    <span *ngIf="uploaded_marketpulse_vix!=1; " style="color:red">Not Uploaded.<img src="https://img.icons8.com/doodle/36/000000/delete-sign.png"></span>
<br>
    Marketpulse Data: <span *ngIf="uploaded_marketpulse==1; " style="color:green">Uploaded.<img src="https://img.icons8.com/doodle/36/000000/checkmark.png"></span>
    <span *ngIf="uploaded_marketpulse!=1; " style="color:red">Not Uploaded.<img src="https://img.icons8.com/doodle/36/000000/delete-sign.png"></span>
<br>
    IV Report Data:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span *ngIf="uploaded_iv_report==1; " style="color:green">Uploaded.<img src="https://img.icons8.com/doodle/36/000000/checkmark.png"></span>
    <span *ngIf="uploaded_iv_report!=1; " style="color:red">Not Uploaded.<img src="https://img.icons8.com/doodle/36/000000/delete-sign.png"></span>
