/* Blink for Webkit and others
(Chrome, Safari, Firefox, IE, ...)
*/

@-webkit-keyframes blinker {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
  }
  .blink{
      text-decoration: blink;
      -webkit-animation-name: blinker;
      -webkit-animation-duration: 0.6s;
      -webkit-animation-iteration-count:infinite;
      -webkit-animation-timing-function:ease-in-out;
      -webkit-animation-direction: alternate;
  } 

.mat-chip.info-chip{
    padding: 4px 8px;
    min-height: 26px;
    font-size: 12px;
    font-weight: 400;
    .mat-icon{
        margin-right: 4px;
    }
}

