<div fxLayout="column">
  <div class="flex-p">
    <!-- <div fxLayout="column" class="mat-elevation-z8">           
          <mat-form-field class="p-1">
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Type to filter all columns">
          </mat-form-field> 
      </div> -->
      <!-- tab1 -->
      <!-- <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="basePrice">
        <mat-header-cell *matHeaderCellDef> Base Price </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.basePrice}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table> -->
      <!-- tab1 end  -->
    <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.finsparc_stock_id}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Stock Name </mat-header-cell>
        <mat-cell *matCellDef="let element"><a routerLink='/inportfolio'> {{element.instrument_name}} </a> </mat-cell>
      </ng-container>
      <ng-container matColumnDef="weight">
        <mat-header-cell *matHeaderCellDef> Option Type </mat-header-cell>
        <mat-cell *matCellDef="let element"><a routerLink='/inportfolio'>{{element.instrument_type}}</a></mat-cell>
      </ng-container>
      <ng-container matColumnDef="buyQ">
        <mat-header-cell *matHeaderCellDef> Expiry Date </mat-header-cell>
        <mat-cell *matCellDef="let element"><a routerLink='/inportfolio'>{{element.expiry_dt}}</a></mat-cell>
      </ng-container>
      <ng-container matColumnDef="sellQ">
        <mat-header-cell *matHeaderCellDef> Qty Buy </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.quantity}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="netQ">
        <mat-header-cell *matHeaderCellDef>Qty Buy At  </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="currPrice">
        <mat-header-cell *matHeaderCellDef> Qty Sell  </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.selling_quantity}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="basePrice">
        <mat-header-cell *matHeaderCellDef> Qty Sell At </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.selling_price}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>