<mat-card>

  <!-- <button mat-icon-button (click)="clicked()">
    <span matTooltip="Add Dynamic Options">

      <a routerLink="/add-dynamic-options"><img src="https://img.icons8.com/dusk/48/000000/add.png"></a>

    </span>
  </button><br> -->


  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> SR NO</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>


    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef>value </th>
      <td mat-cell *matCellDef="let element"> {{element.value}} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> Edit</th>
      <td mat-cell *matCellDef="let element">
        <i class="material-icons" matTooltip="Edit"><a routerLink="/edit-dynamic-option/{{element.id}}"
            matTooltipPosition="left">create</a></i>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete</th>
      <td mat-cell *matCellDef="let element">
        <i class="material-icons" matTooltip="Delete" 
          (click)="onDelete(element.id)">delete_outline</i>
      </td>
    </ng-container>

    <!-- <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.cdate}} </td>
  </ng-container> -->

    <!-- <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef >Location</th>
    <td mat-cell *matCellDef="let element"><i class="material-icons" style="padding-left: 1.8em;" matTooltip="Edit"><a routerLink="/edit-lotsize/{{element.finsparc_lotsize_id}}" matTooltipPosition="center">create</a>
    </i> </td>
  </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


  <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>

</mat-card>