<div class="flex-p">
  <mat-card>
    <!-- <a routerLink="/nifty50-stock" style=" display: flex;
      flex-wrap: wrap;
      align-content:flex-start;"><img src="https://img.icons8.com/bubbles/50/000000/left.png"></a> -->
    <mat-card-header fxLayoutAlign="center">
      <mat-card-subtitle>
        <h3>Run Schedular</h3>
      </mat-card-subtitle>
    </mat-card-header>
    <label>MarketPulse VIX</label>
    <div class="col-md-12 row">
      <!-- <div class="col-md-2">MarketPulse VIX</div> -->
      <div class="col-md-4">
        <input type="file" class="form-control" required (change)="onChange1($event)" />
      </div> 
      <div class="col-md-2">
        <button mat-button mat-raised-button color="primary" (click)="onSubmitVIX()">
          <span matTooltip="Upload">
            Submit
          </span>
        </button>
      </div>
      <div class="col-md-6">
      </div>
    </div>
<hr>
 <br> <label>Run Schedular Automatically</label>
    <mat-card-content>

      <form [formGroup]="FormData" fxLayout="column" fxLayoutAlign="center">
        <div class="row col-md-12">
          <div class=" col-md-4">
        <mat-form-field class="w-100">
          <input matInput [matDatepicker]="picker1" placeholder="Select Start Date" formControlName="from_date">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        </div>
        <div class=" col-md-3">         
          <!-- <div class="form-actions" style="text-align: center;"> -->
          <button mat-raised-button color="primary" [disabled]="status==1" type="submit" (click)="onSubmit()">Auto Run </button>
        <!-- </div>  -->
      </div>
      <div class=" col-md-5"></div>
        </div>


 
      </form>
    </mat-card-content>
<hr>
   <label>Run Schedular Manually</label>
    <mat-card-content>
      <div class=" row col-md-3">
        <div class=" col-md-3">        
        <!-- <div class="form-actions" style="text-align: center;"> -->
        <button mat-raised-button color="primary" [disabled]="status==1" type="submit" (click)="runScheduler()">Manually Run</button>
      <!-- </div>  -->
        </div>
      <div class=" col-md-9"></div> 
    </div>
    </mat-card-content>

  </mat-card>
</div>