<form [formGroup]="filterForm">
  <div class="col-md-12">

    <mat-form-field>
      <mat-select placeholder="Select Symbol" #symbol formControlName="stockSymbol" >
        <mat-option *ngFor="let symbol of postsSymbol" [value]="symbol.stock">
          {{symbol.stock}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- <mat-form-field class="example-full-width">
      <input matInput placeholder="Enter Symbol" #symbol formControlName="stock">
    </mat-form-field> -->

    &nbsp;&nbsp;&nbsp;

    <mat-form-field>
      <input matInput [matDatepicker]="picker1" placeholder="Select Date" formControlName="start_date">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <button mat-button style="background-color: steelblue" (click)="onSubmit()">
      <span matTooltip="Submit">
        Submit
      </span>
    </button>
  </div>
</form>


<mat-card>

  <div class="example-container mat-elevation-z8">

    <mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> High 11 Days </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.high_11_days}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="invoiceno">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Low 11 Days </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.low_11_days}} </mat-cell>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="invoice">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Avg 5 Days </mat-header-cell>
        <mat-cell *matCellDef="let row">   {{row.avg_5_days}}   </mat-cell>
      </ng-container>

      <ng-container matColumnDef="packing">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Avg 21 Days </mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.avg_21_days}} 
         
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Same Day last Week </mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.same_day_last_week}} 
       
        </mat-cell>
      </ng-container>

      <!-- <ng-container matColumnDef="last_update">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Status Last Update On </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.last_updated}} </mat-cell>
      </ng-container> -->

      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Change Since Expiry</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.change_since_expiry}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Days high 10 </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.days_high_10}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="retailer">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Days Low 10 </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.days_low_10}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="asm">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Settlement Average </mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.settlement_average}} 
         
        </mat-cell>
      </ng-container>

      <!-- <ng-container matColumnDef="logistic">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Logistic </mat-header-cell>
        <mat-cell *matCellDef="let row" style="text-align: center"> {{row.company_name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="docket">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Docket No. </mat-header-cell>
        <mat-cell *matCellDef="let row" style="text-align: center"> {{row.docketno}} </mat-cell>
      </ng-container> -->

      <!-- <ng-container matColumnDef="map">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Location </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <a routerLink="/map/{{row.pod_invoice_id}}/asm">
            <mat-icon>location_on</mat-icon>
          </a>
        </mat-cell>
      </ng-container> -->



      <!-- <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef mat-sort-header> <span *ngIf="type=='admin'">Action</span> </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <a routerLink="/addinvoice/{{row.pod_invoice_id}}" *ngIf="type=='admin'">Edit</a>
          <mat-icon matTooltip="Delete" (click)="delete(row.pod_invoice_id)" *ngIf="type=='admin'">delete
          </mat-icon>
        </mat-cell>
      </ng-container> -->

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</mat-card>