
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

 
  <div class=" example-container mat-elevation-z8">
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
    <!-- <div style="overflow-x:scroll;"> -->
      
      <table mat-table [dataSource]="dataSource" matSort>
  
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>
  
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Banknifty Change</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.banknifty_change}}</span>
        </td>
        </ng-container>
  
        <ng-container matColumnDef="d1">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Banknifty Change Percent</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.banknifty_change_percent}}</span>
        </td>
        </ng-container>
  
        <ng-container matColumnDef="d2">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Bank Nifty buySell</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.banknifty_buysell}}</span>
        </td>
        </ng-container>
  
        <ng-container matColumnDef="d3">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Change Percent Val Inlakh</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.change_percent_val_inlakh}}</span>
        </td>
        </ng-container>
  
        <ng-container matColumnDef="d4">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Change Percent Volume</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.change_percent_volume}}</span>
        </td>
        </ng-container>
  
        <ng-container matColumnDef="d5">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Change Val Inlakh</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.change_val_inlakh}}</span>
        </td>
        </ng-container>
  
        <ng-container matColumnDef="d6">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Change Volume</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.change_volume}}</span>
        </td>
        </ng-container>
  
        <ng-container matColumnDef="d7">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Marketnow</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.marketnow}}</span>
        </td>
        </ng-container>
        
        <ng-container matColumnDef="d8">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>MMI Score</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.mmi_score}}</span>
        </td>
        </ng-container>
        
        <ng-container matColumnDef="d9">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nifty Buysell</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.nifty_buysell}}</span>
        </td>
        </ng-container>
        
        <ng-container matColumnDef="d10">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nifty Change</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.nifty_change}}</span>
        </td>
        </ng-container>

        <ng-container matColumnDef="d11">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nifty Change Percent</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.nifty_change_percent}}</span>
        </td>
        </ng-container>

        <ng-container matColumnDef="d12">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Niftyit Buysell</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.niftyit_buysell}}</span>
        </td>
        </ng-container>

        <ng-container matColumnDef="d13">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Niftyit Change</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.niftyit_change}}</span>
        </td>
        </ng-container>

        <ng-container matColumnDef="d14">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Niftyit Change Percent</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.niftyit_change_percent}}</span>
        </td>
        </ng-container>

        <ng-container matColumnDef="d15">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Open</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.per_change}}</span>
        </td>
        </ng-container>

        <ng-container matColumnDef="d16">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Per Change</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.per_change}}</span>
        </td>
        </ng-container>

        <ng-container matColumnDef="d17">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Prev Close</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.prev_close}}</span>
        </td>
        </ng-container>

        <ng-container matColumnDef="d18">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Stock Above Wap</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.stock_above_wap}}</span>
        </td>
        </ng-container>

        <ng-container matColumnDef="d19">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Stock Below Wap</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.stock_below_wap}}</span>
        </td>
        </ng-container>

        <ng-container matColumnDef="d20">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Stock Future</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.stock_future}}</span>
        </td>
        </ng-container>

        <ng-container matColumnDef="d21">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Stock Loss</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.stock_loss}}</span>
        </td>
        </ng-container>

        <ng-container matColumnDef="d22">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Stock Option</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.stock_option}}</span>
        </td>
        </ng-container>

        <ng-container matColumnDef="d23">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Stock Profit</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.stock_profit}}</span>
        </td>
        </ng-container>

        <ng-container matColumnDef="d24">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Trigger Call Sum</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.trigger_call_sum}}</span>
        </td>
        </ng-container>

        <ng-container matColumnDef="d25">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Trigger Put Sum</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.trigger_put_sum}}</span>
        </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
        
      </table>
    <!-- </div> -->
  </div>
    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
  
  </div>
  
  