<mat-sidenav-container>

  <div fxLayout="row" fxLayoutAlign="center center" class="h-100">

       <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" fxFlex="80" fxFlex.gt-sm="30" fxFlex.sm="60">

            <mat-card class="p-0 mat-elevation-z24 box">
                <div fxLayout="column" fxLayoutAlign="center center" class="bg-primary box-header">
                    <button mat-fab color="accent" class="mat-elevation-z12">
                        <mat-icon>exit_to_app</mat-icon>
                    </button>
                    <a mat-button>Sign In now!</a>
                </div>
                <mat-card-content fxLayout="column" fxLayoutAlign="end center" class="box-content">
                    <mat-card fxLayout="column" fxLayoutAlign="center center" class="mat-elevation-z12 box-content-inner">
                        <span class="box-content-header">login Here.</span>  
                        <mat-form-field class="w-100">
                            <input matInput placeholder="mobile" formControlName="mobile">
                            <mat-error *ngIf="form.controls.mobile.errors?.required">mobile is required</mat-error>
                            <mat-error *ngIf="form.controls.mobile.hasError('invalidEmail')">Invalid Mobile Number</mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <input type="password" matInput placeholder="Password" formControlName="password">
                            <mat-error *ngIf="form.controls.password.errors?.required">Password is required</mat-error>
                            <mat-error *ngIf="form.controls.password.hasError('minlength')">Password isn't long enough, minimum of 6 characters</mat-error>
                        </mat-form-field> 
                    </mat-card>
                    <button mat-raised-button color="primary" class="mat-elevation-z12 box-button" type="submit">SIGN IN</button>
                </mat-card-content>
            </mat-card>
            
        </form>    
  
  </div>

</mat-sidenav-container>