<button mat-icon-button>
  <span matTooltip=" Go Back">

    <a routerLink="/industry"><img src="https://img.icons8.com/bubbles/50/000000/back.png"></a>
  </span>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <span matTooltip="Add industry Stock" style="margin-right: 20px">

    <a routerLink="/add-industry-stock/0/{{parent_id}}"><img src="https://img.icons8.com/nolan/50/000000/add.png"></a>
  </span>

  <br>

</button>

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class=" example-container mat-elevation-z8">
  <div style="overflow-x:auto;">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Stock Name</th>
        <td mat-cell *matCellDef="let row">
          <span>{{row.name}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit</th>
        <td mat-cell *matCellDef="let row">
          <i class="material-icons" matTooltip="Edit"><a routerLink="/edit-industry-stock/{{row.id}}/{{row.parent_id}}"
              matTooltipPosition="left">create</a></i>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Delete</th>
        <td mat-cell *matCellDef="let row">
          <span matTooltip="Delete" (click)="onDelete(row.id)">
          <img src="https://img.icons8.com/cute-clipart/50/000000/delete-forever.png"> </span>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>

    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

</div>