<form>
  <div class="col-md-12 row">
    <div class="col-md-2">1) Bhavcopy Data</div>
    <div class="col-md-4">
      <input type="file" class="form-control" required (change)="onChange2($event)" />
    </div>
    <div class="col-md-2">
      <!-- Upload Market Pulse File -->
      <button mat-button mat-raised-button color="primary" (click)="onSubmitBhavCopy()">
        <span matTooltip="Upload">
          Submit
          <!-- <img src="https://img.icons8.com/color/48/000000/ms-excel.png">
          <img src="https://img.icons8.com/color/48/000000/csv.png"> -->

        </span>
      </button>
    </div>
    <div class="col-md-2">
      <!-- <p class="tab"><u><a href="https://www.nseindia.com/products/content/derivatives/equities/archieve_fo.htm"
            target="_blank" title="Choose Fill Derivative Stats Option">NSE Data</a></u>&nbsp;&nbsp;&nbsp;
        <u><a href="http://3.6.6.59:7005/samples/fii_stats_10-Feb-2020.xls" target="_blank"
            title="Sample fii_stats File">Sample Data</a></u></p> -->
      <span *ngIf="uploaded_bhavcopy==1; " style="color:green">Uploaded. <img
          src="https://img.icons8.com/doodle/36/000000/checkmark.png"></span>
      <span *ngIf="uploaded_bhavcopy!=1; " style="color:red">Not Uploaded.<img
          src="https://img.icons8.com/doodle/36/000000/delete-sign.png"></span>

    </div>
  </div>

  <br><br>

 <div class="col-md-12 row">
    <div class="col-md-2">2) MarketPulse VIX</div>
    <div class="col-md-4">
      <input type="file" class="form-control" required (change)="onChange1($event)" />
    </div>
    <div class="col-md-2">
      <button mat-button mat-raised-button color="primary" (click)="onSubmit1()">
        <span matTooltip="Upload">
          <!-- <img src="https://img.icons8.com/color/48/000000/ms-excel.png">
          <img src="https://img.icons8.com/color/48/000000/csv.png"> -->
          Submit
        </span> 
      </button>
    </div>
    <div class="col-md-2">
      <!-- <p class="tab"><u><a href="https://www.nseindia.com/products/content/equities/indices/historical_vix.htm"
            target="_blank" title="Specify the current Date in Both field and Download it.">NSE
            Data</a></u>&nbsp;&nbsp;&nbsp;
        <u><a href="http://3.6.6.59:7005/samples/hist_india_vix_10-Feb-2020_10-Feb-2020.csv" target="_blank"
            title="Sample VIX File">Sample Data</a></u></p> -->
      <span *ngIf="uploaded_marketpulse_vix==1; " style="color:green"> Uploaded.<img
          src="https://img.icons8.com/doodle/36/000000/checkmark.png"></span>
      <span *ngIf="uploaded_marketpulse_vix!=1; " style="color:red">Not Uploaded.<img
          src="https://img.icons8.com/doodle/36/000000/delete-sign.png"></span>
    </div>
  </div>

  <br><br>

  <div class="col-md-12 row">
    <div class="col-md-2">3) MarketPulse FII</div>
    <div class="col-md-4">
      <input type="file" class="form-control" required (change)="onChange($event)" />
    </div>
    <div class="col-md-2">
      <!-- Upload Market Pulse File -->
      <button mat-button mat-raised-button color="primary" (click)="onSubmit()">
        <span matTooltip="Upload">
          Submit
          <!-- <img src="https://img.icons8.com/color/48/000000/ms-excel.png">
          <img src="https://img.icons8.com/color/48/000000/csv.png"> -->

        </span>
      </button>
    </div>
    <div class="col-md-2">
      <!-- <p class="tab"><u><a href="https://www.nseindia.com/products/content/derivatives/equities/archieve_fo.htm"
            target="_blank" title="Choose Fill Derivative Stats Option">NSE Data</a></u>&nbsp;&nbsp;&nbsp;
        <u><a href="http://3.6.6.59:7005/samples/fii_stats_10-Feb-2020.xls" target="_blank"
            title="Sample fii_stats File">Sample Data</a></u></p> -->
      <span *ngIf="uploaded_marketpulse==1; " style="color:green">Uploaded.<img
          src="https://img.icons8.com/doodle/36/000000/checkmark.png"></span>
      <span *ngIf="uploaded_marketpulse!=1; " style="color:red"> Not Uploaded.<img
          src="https://img.icons8.com/doodle/36/000000/delete-sign.png"></span>

    </div>
  </div>

  <br><br>

  <div class="col-md-12 row">
    <div class="col-md-2">4) IV Report</div>
    <div class="col-md-4">
      <input type="file" class="form-control" required (change)="onChange3($event)" />
    </div>
    <div class="col-md-2">
      <button mat-button mat-raised-button color="primary" (click)="onSubmitIVReport()">
        <span matTooltip="Upload">
          <!-- <img src="https://img.icons8.com/color/48/000000/ms-excel.png">
        <img src="https://img.icons8.com/color/48/000000/csv.png"> -->
          Submit
        </span>
      </button>
    </div>
    <div class="col-md-2">
      <!-- <p class="tab"><u><a href="https://www.nseindia.com/products/content/equities/indices/historical_vix.htm"
          target="_blank" title="Specify the current Date in Both field and Download it.">NSE
          Data</a></u>&nbsp;&nbsp;&nbsp;
      <u><a href="http://3.6.6.59:7005/samples/hist_india_vix_10-Feb-2020_10-Feb-2020.csv" target="_blank"
          title="Sample VIX File">Sample Data</a></u></p> -->
      <span *ngIf="uploaded_iv_report==1; " style="color:green">Uploaded.<img
          src="https://img.icons8.com/doodle/36/000000/checkmark.png"></span>
      <span *ngIf="uploaded_iv_report!=1; " style="color:red">Not Uploaded.<img
          src="https://img.icons8.com/doodle/36/000000/delete-sign.png"></span>
    </div>
  </div>

  <br><br>

  <div class="col-md-12 row">
    <div class="col-md-2">5) Lot Size</div>
    <div class="col-md-4">
      <input type="file" class="form-control" required (change)="onChange4($event)" />
    </div>
    <div class="col-md-2">
      <button mat-button mat-raised-button color="primary" (click)="onSubmitLotSize()">
        <span matTooltip="Upload">
          <!-- <img src="https://img.icons8.com/color/48/000000/ms-excel.png">
        <img src="https://img.icons8.com/color/48/000000/csv.png"> -->
          Submit
        </span>
      </button>
    </div>
    <div class="col-md-2">
      <!-- <span *ngIf="uploaded_marketpulse_vix==1; " style="color:green"> Uploaded.<img
          src="https://img.icons8.com/doodle/36/000000/checkmark.png"></span>
      <span *ngIf="uploaded_marketpulse_vix!=1; " style="color:red">Not Uploaded.<img
          src="https://img.icons8.com/doodle/36/000000/delete-sign.png"></span> -->
    </div>
  </div>

</form>