<div class="flex-p">
  <mat-card>
    <a routerLink="/dynamic-option" style=" display: flex;
    flex-wrap: wrap;
    align-content:flex-start;"><img src="https://img.icons8.com/bubbles/50/000000/left.png"></a>
    <mat-card-header fxLayoutAlign="center">
      <mat-card-subtitle>
        <h3>Add Dynamic Option</h3>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="DOForm" fxLayout="column" fxLayoutAlign="center">

        <mat-form-field class="w-100">
          <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>

        <mat-form-field class="w-100">
          <input matInput placeholder="Value" formControlName="value">
        </mat-form-field>

        <!-- <mat-form-field class="w-100">
          <input matInput placeholder="Max Range" formControlName="maxrange">
        </mat-form-field>

        <mat-form-field class="w-100">
          <input matInput placeholder="Max Score" formControlName="maxscore">
        </mat-form-field>

        <mat-form-field class="w-100">
          <input matInput placeholder="Interval" formControlName="interval">
        </mat-form-field>

        <mat-form-field class="w-100">
          <input matInput placeholder="Score" formControlName="score">
        </mat-form-field> -->

        <div class="form-actions" style="text-align: center;">
          <button mat-raised-button color="primary" style="width: 88px" [disabled]="!DOForm.valid" type="submit"
            (click)="onSubmit()">Submit</button>
          <!-- <button mat-raised-button color="accent" style="width: 88px" type="reset">Reset</button>
          <button mat-raised-button color="warn" style="width: 176px" (click)="back()">Back to Product List</button> -->
        </div>

      </form>
    </mat-card-content>

  </mat-card>
</div>