<form>

  <mat-grid-list cols="2" rowHeight="12:1">
    <mat-grid-tile class="form-control">
      <input type="file" class="form-control" required (change)="onChange($event)" />
    </mat-grid-tile>
    <mat-grid-tile>
      Upload IVR-Report File
      <button mat-button style="border:1px; color:black;background:azure " (click)="onSubmit()">
        <span matTooltip="Upload">
            <img src="https://img.icons8.com/color/48/000000/ms-excel.png">
            <img src="https://img.icons8.com/color/48/000000/csv.png">

        </span>
      </button>
      <p class="tab"><u><a href="https://www.nseindia.com/products/content/derivatives/equities/archieve_fo.htm" target="_blank" title="Choose Option Daily Volatality File">NSE Data</a></u>&nbsp;&nbsp;&nbsp;
        <u><a href="http://3.6.6.59:7005/samples/FOVOLT_10022020.ods" target="_blank" title="This is your Sample File ">Sample Data</a></u></p>
    </mat-grid-tile>
    <!-- <mat-grid-tile>3</mat-grid-tile> -->
  </mat-grid-list>

  </form>
<br>
  
<!-- <mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field> -->

<div class=" example-container mat-elevation-z8">
  <div style="overflow-x:auto;">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{++1}} </td>
  </ng-container> -->

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Instrument Name </th>
    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
  </ng-container>


  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Annualise volatility </th>
    <td mat-cell *matCellDef="let element"> {{element.iv_last_day}} </td>
  </ng-container>

  <ng-container matColumnDef="lot_size">
    <th mat-header-cell *matHeaderCellDef> 5 days data</th>
    <td mat-cell *matCellDef="let element"> {{element.iv_last_week}} </td>
  </ng-container>


  <ng-container matColumnDef="lot_size1">
    <th mat-header-cell *matHeaderCellDef> 5 days diff</th>
    <td mat-cell *matCellDef="let element"> {{element.change_over_last_week}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.cdate}} </td>
  </ng-container>

  <!-- <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef >Location</th>
    <td mat-cell *matCellDef="let element"><i class="material-icons" style="padding-left: 1.8em;" matTooltip="Edit"><a routerLink="/edit-lotsize/{{element.finsparc_lotsize_id}}" matTooltipPosition="center">create</a>
    </i> </td>
  </ng-container> -->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
  <!-- <mat-paginator [length]="100" [pageSize]="10" (click)="getPageSize()" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator> -->
  <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
  </div>
</div>