
  <!-- <button mat-icon-button>
    <span matTooltip="Add Score">
      
      <a routerLink="/add-score"><img src="https://img.icons8.com/dusk/48/000000/add.png"></a>
      
    </span>  <br>

  </button> -->


<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class=" example-container mat-elevation-z8">
  <div style="overflow-x:auto;">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.finsparc_score_id}} </td>
      </ng-container>

      <!-- Progress Column -->
      <!-- <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Image </th>
        <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
      </ng-container> -->

     
      <!-- <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container> -->

     
      <ng-container matColumnDef="designation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Price Description</th>
        <td mat-cell *matCellDef="let row"> {{row.price_desc}} </td>
      </ng-container>

      <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Min Range</th>
          <td mat-cell *matCellDef="let row"> {{row.min_range}} </td>
        </ng-container>

        <ng-container matColumnDef="sub">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Max Range</th>
          <td mat-cell *matCellDef="let row"> {{row.max_range}} </td>
        </ng-container>

        <ng-container matColumnDef="sub3">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Max Score</th>
          <td mat-cell *matCellDef="let row"> {{row.max_score}} </td>
        </ng-container>

        <ng-container matColumnDef="sub2">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>interval</th>
          <td mat-cell *matCellDef="let row"> {{row.intval}} </td>
        </ng-container>

        <ng-container matColumnDef="sub1">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>score</th>
          <td mat-cell *matCellDef="let row"> {{row.score}} </td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit</th>
          <td mat-cell *matCellDef="let row">
            <i class="material-icons" matTooltip="Edit"><a routerLink="/edit-score/{{row.finsparc_score_id}}" matTooltipPosition="left">create</a></i>
            </td>
        </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
      
    </table>
  </div>
    <mat-paginator [pageSizeOptions]="[100,200,500]"></mat-paginator>
  

</div>

