
table {
  width: 100%;
  // overflow-x:auto;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 30%;
  // height:20%;
 
}

//   .table {
//     height: 400px;
//     width: 550px;
//     overflow: auto;
//   }

.mat-header-cell{
width:100px;
min-width:100px;
}

// *******col spacing*******
.mat-row {
  height: auto;
}

.mat-cell {
  padding: 8px 20px 8px 0;
}

.mat-header-cell{
  padding: 8px 20px 8px 0;
}

.tab {
  margin-left: 2.5em
 }