<form>

  <mat-grid-list cols="2" rowHeight="12:1">
    <mat-grid-tile class="form-control">
      <input type="file" class="form-control" required (change)="onChange($event)" />
    </mat-grid-tile>
    <mat-grid-tile>
      Upload Market Pulse File
      <button mat-button style="border:1px; color:black;background:azure " (click)="onSubmit()">
        <span matTooltip="Upload">
            <img src="https://img.icons8.com/color/48/000000/ms-excel.png">
            <img src="https://img.icons8.com/color/48/000000/csv.png">

        </span>
      </button>
      <p class="tab"><u><a href="https://www.nseindia.com/products/content/derivatives/equities/archieve_fo.htm" target="_blank" title="Choose Fill Derivative Stats Option">NSE Data</a></u>&nbsp;&nbsp;&nbsp;
        <u><a href="http://3.6.6.59:7005/samples/fii_stats_10-Feb-2020.xls" target="_blank" title="Sample fii_stats File">Sample Data</a></u></p>
    </mat-grid-tile>
    <!-- <mat-grid-tile>3</mat-grid-tile> -->
  </mat-grid-list>
<br>
  <mat-grid-list cols="2" rowHeight="12:1">
    <mat-grid-tile class="form-control">
      <input type="file" class="form-control" required (change)="onChange1($event)" />
    </mat-grid-tile>
    <mat-grid-tile> 
        Upload Market Pulse VIX File
      <button mat-button style="border:1px; color:black;background:azure " (click)="onSubmit1()">
        <span matTooltip="Upload">
            <img src="https://img.icons8.com/color/48/000000/ms-excel.png">
            <img src="https://img.icons8.com/color/48/000000/csv.png">

        </span>
      </button> 
      <p class="tab"><u><a href="https://www.nseindia.com/products/content/equities/indices/historical_vix.htm" target="_blank" title="Specify the current Date in Both field and Download it.">NSE Data</a></u>&nbsp;&nbsp;&nbsp;
        <u><a href="http://3.6.6.59:7005/samples/hist_india_vix_10-Feb-2020_10-Feb-2020.csv" target="_blank" title="Sample VIX File">Sample Data</a></u></p>
    </mat-grid-tile>
    <!-- <mat-grid-tile>3</mat-grid-tile> -->
  </mat-grid-list>

</form>
<br>

<div class=" example-container mat-elevation-z8">
  <div style="overflow-x:auto;">

<table mat-table [dataSource]="dataSource" >

  <ng-container matColumnDef="c1">
    <th mat-header-cell *matHeaderCellDef>Sr.NO</th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="c2">
    <th mat-header-cell *matHeaderCellDef> Date</th>
    <td mat-cell *matCellDef="let element"> {{element.cdate}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="c3">
    <th mat-header-cell *matHeaderCellDef> Open</th>
    <td mat-cell *matCellDef="let element"> {{element.open}} </td>
  </ng-container>

  <ng-container matColumnDef="c4">
    <th mat-header-cell *matHeaderCellDef> High</th>
    <td mat-cell *matCellDef="let element"> {{element.high}} </td>
  </ng-container>

  <ng-container matColumnDef="c5">
    <th mat-header-cell *matHeaderCellDef> Low </th>
    <td mat-cell *matCellDef="let element"> {{element.low}} </td>
  </ng-container>

  <ng-container matColumnDef="c6">
    <th mat-header-cell *matHeaderCellDef> Close </th>
    <td mat-cell *matCellDef="let element"> {{element.close}} </td>
  </ng-container>

  <ng-container matColumnDef="c7">
    <th mat-header-cell *matHeaderCellDef> Prev Close</th>
    <td mat-cell *matCellDef="let element"> {{element.prev_close}} </td>
  </ng-container>

  <ng-container matColumnDef="c8">
    <th mat-header-cell *matHeaderCellDef>  VIX </th>
    <td mat-cell *matCellDef="let element"> {{element.change}} </td>
  </ng-container>

  <ng-container matColumnDef="c9">
    <th mat-header-cell *matHeaderCellDef> Percent Change </th>
    <td mat-cell *matCellDef="let element"> {{element.per_change}} </td>
  </ng-container>

  <ng-container matColumnDef="c10">
    <th mat-header-cell *matHeaderCellDef> Index Future</th>
    <td mat-cell *matCellDef="let element"> {{element.index_future}} </td>
  </ng-container>

  <ng-container matColumnDef="c11">
    <th mat-header-cell *matHeaderCellDef> Index Option </th>
    <td mat-cell *matCellDef="let element"> {{element.index_option}} </td>
  </ng-container>

  <ng-container matColumnDef="c12">
    <th mat-header-cell *matHeaderCellDef> Stock Future</th>
    <td mat-cell *matCellDef="let element"> {{element.stock_future}} </td>
  </ng-container>

  <ng-container matColumnDef="c13">
    <th mat-header-cell *matHeaderCellDef> Stock Option </th>
    <td mat-cell *matCellDef="let element"> {{element.stock_option}} </td>
  </ng-container>
<!-- close data upto here -->

  <ng-container matColumnDef="c14">
    <th mat-header-cell *matHeaderCellDef> Change Volume </th>
    <td mat-cell *matCellDef="let element"> {{element.change_volume}} </td>
  </ng-container>

  <ng-container matColumnDef="c15">
    <th mat-header-cell *matHeaderCellDef> change percent val inlakh </th>
    <td mat-cell *matCellDef="let element"> {{element.change_percent_val_inlakh}} </td>
  </ng-container>

  <ng-container matColumnDef="c16">
    <th mat-header-cell *matHeaderCellDef> Change Percent Volume </th>
    <td mat-cell *matCellDef="let element"> {{element.change_percent_volume}} </td>
  </ng-container>
<!--  -->
  <ng-container matColumnDef="c17">
    <th mat-header-cell *matHeaderCellDef> Close VIX</th>
    <td mat-cell *matCellDef="let element"> {{element.close_vix}} </td>
  </ng-container>

  <ng-container matColumnDef="c18">
    <th mat-header-cell *matHeaderCellDef> Expiry Date</th>
    <td mat-cell *matCellDef="let element"> {{element.expiry_dt}} </td>
  </ng-container>

  <ng-container matColumnDef="c19">
    <th mat-header-cell *matHeaderCellDef> Expiry High</th>
    <td mat-cell *matCellDef="let element"> {{element.expiry_high}} </td>
  </ng-container>

  <ng-container matColumnDef="c20">
    <th mat-header-cell *matHeaderCellDef> Expiry low</th>
    <td mat-cell *matCellDef="let element"> {{element.expiry_low}} </td>
  </ng-container>

  <ng-container matColumnDef="c21">
    <th mat-header-cell *matHeaderCellDef> Expiry High</th>
    <td mat-cell *matCellDef="let element"> {{element.expiry_high}} </td>
  </ng-container>

  <ng-container matColumnDef="c22">
    <th mat-header-cell *matHeaderCellDef>High</th>
    <td mat-cell *matCellDef="let element"> {{element.high}} </td>
  </ng-container>

  <ng-container matColumnDef="c23">
    <th mat-header-cell *matHeaderCellDef> Index future</th>
    <td mat-cell *matCellDef="let element"> {{element.index_future}} </td>
  </ng-container>

  <ng-container matColumnDef="c24">
    <th mat-header-cell *matHeaderCellDef> Index Option</th>
    <td mat-cell *matCellDef="let element"> {{element.index_option}} </td>
  </ng-container>

  <ng-container matColumnDef="c25">
    <th mat-header-cell *matHeaderCellDef> Low</th>
    <td mat-cell *matCellDef="let element"> {{element.low}} </td>
  </ng-container>

  <ng-container matColumnDef="c26">
    <th mat-header-cell *matHeaderCellDef> Index Option</th>
    <td mat-cell *matCellDef="let element"> {{element.marketnow}} </td>
  </ng-container>

  <ng-container matColumnDef="c27">
    <th mat-header-cell *matHeaderCellDef> MMI Score</th>
    <td mat-cell *matCellDef="let element"> {{element.mmi_score}} </td>
  </ng-container>

  <ng-container matColumnDef="c28">
    <th mat-header-cell *matHeaderCellDef>Mood of Market</th>
    <td mat-cell *matCellDef="let element"> {{element.mood_of_market}} </td>
  </ng-container>

  <!--  -->
  <ng-container matColumnDef="c29">
    <th mat-header-cell *matHeaderCellDef>NF color</th>
    <td mat-cell *matCellDef="let element"> {{element.nf_color}} </td>
  </ng-container>

  <ng-container matColumnDef="c30">
    <th mat-header-cell *matHeaderCellDef>NI Color</th>
    <td mat-cell *matCellDef="let element"> {{element.ni_color}} </td>
  </ng-container>

  <ng-container matColumnDef="c31">
    <th mat-header-cell *matHeaderCellDef>NIFTY Buysell</th>
    <td mat-cell *matCellDef="let element"> {{element.nifty_buysell}} </td>
  </ng-container>

  <ng-container matColumnDef="c32">
    <th mat-header-cell *matHeaderCellDef>NIFTY Change</th>
    <td mat-cell *matCellDef="let element"> {{element.nifty_change}} </td>
  </ng-container>

  <ng-container matColumnDef="c33">
    <th mat-header-cell *matHeaderCellDef>NIFTY Chage Percent</th>
    <td mat-cell *matCellDef="let element"> {{element.nifty_change_percent}} </td>
  </ng-container>

  <ng-container matColumnDef="c34">
    <th mat-header-cell *matHeaderCellDef>NIFTY Close</th>
    <td mat-cell *matCellDef="let element"> {{element.nifty_close}} </td>
  </ng-container>

  <ng-container matColumnDef="c35">
    <th mat-header-cell *matHeaderCellDef>NIFTY BuySell</th>
    <td mat-cell *matCellDef="let element"> {{element.niftyit_buysell}} </td>
  </ng-container>

  <ng-container matColumnDef="c36">
    <th mat-header-cell *matHeaderCellDef>NIFTYIT Change</th>
    <td mat-cell *matCellDef="let element"> {{element.niftyit_change}} </td>
  </ng-container>

  <ng-container matColumnDef="c37">
    <th mat-header-cell *matHeaderCellDef>NIFTY Change Percent</th>
    <td mat-cell *matCellDef="let element"> {{element.niftyit_change_percent}} </td>
  </ng-container>

  <ng-container matColumnDef="c38">
    <th mat-header-cell *matHeaderCellDef>NIFTY Close</th>
    <td mat-cell *matCellDef="let element"> {{element.niftyit_close}} </td>
  </ng-container>

  <ng-container matColumnDef="c39">
    <th mat-header-cell *matHeaderCellDef>OPEN</th>
    <td mat-cell *matCellDef="let element"> {{element.open}} </td>
  </ng-container>

  <ng-container matColumnDef="c40">
    <th mat-header-cell *matHeaderCellDef>Per Change</th>
    <td mat-cell *matCellDef="let element"> {{element.per_change}} </td>
  </ng-container>

  <ng-container matColumnDef="c41">
    <th mat-header-cell *matHeaderCellDef>Pre Close</th>
    <td mat-cell *matCellDef="let element"> {{element.prev_close}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
  <mat-paginator  [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

</table>

</div>
</div>
