<form>

  <mat-grid-list cols="2" rowHeight="12:1">
    <mat-grid-tile class="form-control">
      <input type="file" class="form-control" required (change)="onChange($event)" />
    </mat-grid-tile>
    <mat-grid-tile>
        Upload Your File
      <button mat-button style="border:1px; color:black;background:azure " (click)="onSubmit()">
        <span matTooltip="Upload">
            <img src="https://img.icons8.com/color/48/000000/ms-excel.png">
            <img src="https://img.icons8.com/color/48/000000/csv.png">

        </span>
      </button>
    </mat-grid-tile>
    <!-- <mat-grid-tile>3</mat-grid-tile> -->
  </mat-grid-list>


</form>
<br>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef>Hodliday Id</th>
    <td mat-cell *matCellDef="let element"> {{element.finsparc_hoilday_id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Holiday Dates </th>
    <td mat-cell *matCellDef="let element"> {{element.hoilday_date}} </td>
  </ng-container>


  <!-- Symbol Column -->
  <ng-container matColumnDef="day">
    <th mat-header-cell *matHeaderCellDef> Holiday Days </th>
    <td mat-cell *matCellDef="let element"> {{element.hoilday_day}} </td>
  </ng-container>

  <ng-container matColumnDef="desc">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [length]="100" [pageSize]="10" (click)="getPageSize()" [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>