<!-- <form>

  <mat-grid-list cols="2" rowHeight="12:1">
    <mat-grid-tile class="form-control">
      <input type="file" class="form-control" required (change)="onChange($event)" />
    </mat-grid-tile>
    <mat-grid-tile>
        Upload Your File
        <button mat-button style="border:1px; color:black;background:azure " (click)="onSubmit()">
          <span matTooltip="Upload">
              <img src="https://img.icons8.com/color/48/000000/ms-excel.png">
              <img src="https://img.icons8.com/color/48/000000/csv.png">
  
          </span>
        </button>
    </mat-grid-tile>
  </mat-grid-list>


</form>
<br> -->
<mat-card>
<button mat-icon-button (click)="clicked()">
  <span matTooltip="Add Settlement">
    <!-- <mat-icon style="color:black;font-size: 250%"> -->

      <a routerLink="/add-marketinternal/{{cat_id}}"><img src="https://img.icons8.com/color/48/000000/task.png"></a>

    <!-- </mat-icon> -->
  </span>
</button>
<br><br>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Sr.No. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  
  <!-- <ng-container matColumnDef="days">
    <th mat-header-cell *matHeaderCellDef>Settlement Type </th>
    <td mat-cell *matCellDef="let element"> {{element.settlement_type}} </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Delete</th>
    <td mat-cell *matCellDef="let element">
      <i class="material-icons" matTooltip="Delete" 
        (click)="onDelete(element.id)">delete_outline</i>
    </td>
  </ng-container> -->

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef >Edit</th>
    <td mat-cell *matCellDef="let element"><i class="material-icons" style="padding-left: 1.8em;" matTooltip="Edit"><a routerLink="/edit-marketinternal/{{element.id}}/{{element.cat_id}}/update" matTooltipPosition="center">create</a>
    </i> </td>
  </ng-container>

  <ng-container matColumnDef="view">
    <th mat-header-cell *matHeaderCellDef >View Sub category</th>
    <td mat-cell *matCellDef="let element"><a routerLink="/marketinternal-subcat/{{element.cat_id}}/{{element.id}}" matTooltipPosition="center">View sub-Cat</a>
     </td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [length]="100" [pageSize]="10" (click)="getPageSize()" [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>

</mat-card>