<div class="flex-p">
  <mat-card>
    <a routerLink="/trade" style=" display: flex;
      flex-wrap: wrap;
      align-content:flex-start;"><img src="https://img.icons8.com/bubbles/50/000000/left.png"></a>
    <mat-card-header fxLayoutAlign="center">
      <mat-card-subtitle>
        <h3>Add Trade</h3>
      </mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>

      <form [formGroup]="tradeForm" fxLayout="column" fxLayoutAlign="center">

        <div>
          <div class="row col-md-12">
          
            <div class='col-md-3'>
            <mat-form-field class="example-full-width" >
              <input type="text" placeholder="Pick Symbol" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto"  (change)="onChange1($event.target.value)">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            </div>

            <!--<div class='col-md-3'>
              <mat-form-field class="w-100">
                <mat-select placeholder="Instrument Type" (selectionChange)="onChange2($event.value)">
                 <mat-option value="call">Call</mat-option>
                  <mat-option value="put">Put</mat-option>
                </mat-select>
              </mat-form-field>
              </div>  -->

            <div class='col-md-3'>
              <mat-form-field class="w-100">
                <mat-select placeholder="Instrument Type" formControlName="instrument_type" (selectionChange)="onChange2($event.value)">
                  <mat-option *ngFor="let post of posts1" [value]="post.instrument">
                    {{post.instrument}}
                  </mat-option>
                  
                  <mat-option value="CE">Call</mat-option>
                  <mat-option value="PE">Put</mat-option>
                </mat-select>
              </mat-form-field>
              </div> 

              <div class='col-md-3'>
                <mat-form-field class="w-100">
                  <mat-select placeholder="Contracts" formControlName="contracts" [(ngModel)]="modeselect" (selectionChange)="onChange3($event.value)">
                    <!-- <mat-option *ngFor="let food of foods" [value]="food.value">
                      {{food.viewValue}}
                    </mat-option> -->
                    <mat-option value="near">Near</mat-option>
                    <mat-option value="next">Next</mat-option>
                    <mat-option value="far">Far</mat-option>
                  </mat-select>
                </mat-form-field>
                </div>

              
          
            </div>
            <div class="row col-md-12">
              
              <div class='col-md-3'>
                
                  <mat-form-field class="w-100">
                    <mat-select placeholder="Series" formControlName="series" >
                      <mat-option *ngFor="let post of posts1" [value]="post.expiry_dt">
                        {{post.expiry_dt}}
                        <!-- {{post.strike_pr}} -->
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  

                </div>

                <div class='col-md-3'>
                 
                    <mat-form-field class="w-100">
                      <!-- <mat-select placeholder="Strike Price" formControlName="strike_pr" [disabled]="disableSelect.value" >
                        <mat-option *ngFor="let post of posts1" [value]="post.strike_pr" disabled>
                          {{post.strike_pr}}
                        </mat-option> -->
                        <mat-select placeholder="Strike Price" formControlName="strike_pr">
                          <mat-option *ngFor="let post of posts1" [value]="post.strike_pr" >
                            {{post.strike_pr}}
                          </mat-option>

                      </mat-select>
                    </mat-form-field>
                    
  
                  </div>

               </div>

                <div class="row col-md-12">
                <div class="col-md-2">
                  <mat-form-field class="w-100">
                    <!-- <input matInput placeholder="Lot" formControlName="lot1" (click)='onClick($event)'> -->
                    
                    <input matInput placeholder="Lot" formControlName="lot1" (input)="onSearchChange($event.target.value)">

                  </mat-form-field>
                </div> 

                <div class="col-md-2">
                  <mat-form-field class="w-100">
                    <input matInput placeholder="Available Lot " formControlName="lot2" >
                  </mat-form-field>
                </div> 

                <div class="col-md-2">
                  <mat-form-field class="w-100">
                    <input matInput placeholder="Calculated Lot " formControlName="lot3"  disabled>
                  </mat-form-field>
                </div> 

              

            </div>
            <div class="row col-md-12">
              <div class="col-md-3">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Price" formControlName="price">
                </mat-form-field>
              </div> 

            <div class="col-md-3">
              <mat-form-field class="w-100">
                  <input matInput [matDatepicker]="picker1" placeholder="Date" formControlName="lot_date">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
          </div>

            </div>
            <div class="row col-md-12">
              <div class="col-md-6">
                <mat-radio-group aria-label="Select an option" class="w-100">
                  <mat-radio-button value="1">Buy</mat-radio-button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <mat-radio-button value="2">Sell</mat-radio-button>
                </mat-radio-group>
              </div>

            </div>

        </div>

        <div class="form-actions" style="text-align: center;">
          <button mat-raised-button color="primary" style="width: 88px" [disabled]="!tradeForm.valid" type="submit"
            (click)="onSubmit()">Submit</button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>