<div class="flex-p">
  <mat-card>
    <a routerLink="/lot-change" style=" display: flex;
      flex-wrap: wrap;
      align-content:flex-start;"><img src="https://img.icons8.com/bubbles/50/000000/left.png"></a>
    <mat-card-header fxLayoutAlign="center">
      <mat-card-subtitle>
        <h3>Add Lot Changes</h3>
      </mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>

      <form [formGroup]="lotForm" fxLayout="column" fxLayoutAlign="center">

        <div>
          <div class="row col-md-12">
            <div class="col-md-3">
              <mat-form-field class="w-100">
                <input matInput placeholder="Symbol (Instruments)" formControlName="symbol" disabled='true'>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="w-100">
                <input matInput placeholder="Adjust Factor" formControlName="adjust_factor">
              </mat-form-field>
            </div>

            <div class="col-md-3">
              <!-- <mat-form-field class="w-100">
                <input matInput placeholder="Change Type" formControlName="change_type">
              </mat-form-field> -->

              <mat-form-field>
                <mat-select placeholder="Change Type" formControlName="change_type">
                  <mat-option value="1">Split</mat-option>
                  <mat-option value="2">Bonus</mat-option>
                  <mat-option value="3">Right</mat-option>
                  <mat-option value="4">Divident</mat-option>
                  <mat-option value="5">Merger/Demerger</mat-option>
                  <mat-option value="6">Other</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

         
              <!-- <div class="col-md-3">
              <mat-form-field class="w-100">
                  <input matInput [matDatepicker]="picker1" placeholder="Lot Date" formControlName="lot_date">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
              </div> -->
          
            </div>

        </div>

        <div class="form-actions" style="text-align: center;">
          <button mat-raised-button color="primary" style="width: 88px" [disabled]="!lotForm.valid" type="submit"
            (click)="onSubmit()">Submit</button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>