
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

 
  <div class=" example-container mat-elevation-z8">
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
      
      <table mat-table [dataSource]="dataSource" matSort>
  
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>   
  
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Instrument</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.instrument}}</span>
        </td>
        </ng-container>
  
        <ng-container matColumnDef="d1">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Symbol</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.symbol}}</span>
        </td>
        </ng-container>
  
        <ng-container matColumnDef="d2">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Expiry dt</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.expiry_dt}}</span>
        </td>
        </ng-container>
  
        <ng-container matColumnDef="d3">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Strike Price</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.strike_pr}}</span>
        </td>
        </ng-container>
  
        <ng-container matColumnDef="d4">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Options</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.option_type}}</span>
        </td>
        </ng-container>
  
        <ng-container matColumnDef="d5">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Open</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.open}}</span>
        </td>
        </ng-container>
  
        <ng-container matColumnDef="d6">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>High</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.high}}</span>
        </td>
        </ng-container>
  
        <ng-container matColumnDef="d7">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Low</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.low}}</span>
        </td>
        </ng-container>
        
        <ng-container matColumnDef="d8">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Close</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.close}}</span>
        </td>
        </ng-container>
        
        <ng-container matColumnDef="d9">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Settlement price</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.settle_pr}}</span>
        </td>
        </ng-container>
        
        <ng-container matColumnDef="d10">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Contracts</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.contracts}}</span>
        </td>
        </ng-container>

        <ng-container matColumnDef="d11">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Value in lakh</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.val_inlakh}}</span>
        </td>
        </ng-container>

        <ng-container matColumnDef="d12">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Open Int</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.open_int}}</span>
        </td>
        </ng-container>

        <ng-container matColumnDef="d13">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>change in OI</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.chg_in_oi}}</span>
        </td>
        </ng-container>

        <ng-container matColumnDef="d14">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>BhavCopy Date</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.timestamp_finsparc_bhavcopy}}</span>
        </td>
        </ng-container>

        <ng-container matColumnDef="d15">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Uploaded Date</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.created_on}}</span>
        </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
        
      </table>
  </div>
    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
  
  </div>
  