
<button mat-icon-button (click)="download()">
  <span matTooltip="Download Excel Sheet">
    <img src="https://img.icons8.com/color/48/000000/circled-down.png">
  </span>
</button>
<!-- </div> -->
<br> <br>


  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

 
  <div class=" example-container mat-elevation-z8">
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
    <!-- <div style="overflow-x:scroll;"> -->
      
      <table mat-table [dataSource]="dataSource" matSort>
  
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
          <td mat-cell *matCellDef="let row"> {{row.cdate}} </td>
        </ng-container> 
  
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Symbol</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.symbol}}</span>
        </td>
        </ng-container>
  
        <ng-container matColumnDef="d1">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Price Close</th>
          <td mat-cell *matCellDef="let row">
          <span>{{row.future_closing}}</span>
        </td>
        </ng-container>
  
        <ng-container matColumnDef="d2">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Prev Price Close</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.previous_future_closing}}</span>
        </td>
        </ng-container>
  
        <!-- <ng-container matColumnDef="d3">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Volume</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.volume}}</span>
        </td>
        </ng-container> -->
  
        <ng-container matColumnDef="d4">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Rank</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.rank}}</span>
        </td>
        </ng-container>
  
        <ng-container matColumnDef="d5">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>7 Days High</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.high_7}}</span>
        </td>
        </ng-container>
  
        <ng-container matColumnDef="d6">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>7 Days Low</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.low_7}}</span>
        </td>
        </ng-container>
  
        <ng-container matColumnDef="d7">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Trigger Price</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.trigger_price}}</span>
        </td>
        </ng-container>
        
        <ng-container matColumnDef="d8">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Future Score</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.future_score}}</span>
          </td>
        </ng-container>
        
        <ng-container matColumnDef="d9">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Option Score</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.option_score}}</span>
        </td>
        </ng-container>
        
        <ng-container matColumnDef="d10">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Todays Score</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.todays_score}}</span>
        </td>
        </ng-container>

        <ng-container matColumnDef="d11">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Previous Trigger Price</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.previous_trigger_price}}</span>
        </td>
        </ng-container>

        <ng-container matColumnDef="d12">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Call Value</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.call_value}}</span>
        </td>
        </ng-container>

        <ng-container matColumnDef="d13">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Put Value</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.put_value}}</span>
        </td>
        </ng-container>

        <ng-container matColumnDef="d14">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Call Ratio</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.call_ratio}}</span>
        </td>
        </ng-container>

        <ng-container matColumnDef="d15">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Put Ratio</th>
          <td mat-cell *matCellDef="let row" >
          <span>{{row.put_ratio}}</span>
        </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
        
      </table>
    <!-- </div> -->
  </div>
    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
  
  </div>
  
  