
table {
    width: 100%;
    // overflow-x:auto;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 10%;
    // height:20%;
   
  }

//   .table {
//     height: 400px;
//     width: 550px;
//     overflow: auto;
//   }

.mat-header-cell{
  width:100px;
  min-width:100px;
  }
  

  .my-custom-scrollbar {
    position: relative;
    height: 450px;
    min-height: 400px;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display:flex;
    }

