// .example-radio-group {
//     display: flex;
//     flex-direction: column;
//     margin: 15px 0;
//   }
  
//   .example-radio-button {
//     margin: 5px;
//   }
  
/***************material css**********************/ 
  .example-container {
    height: 550px;
    overflow: auto;
  }
  
  table {
    width: 100%;
    // height: 100%;
  }
  
  /***************material css end**********************/ 