<div class="example-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
 
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>

    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Available Contents </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="download">
      <th mat-header-cell *matHeaderCellDef> Downloads</th>
      <td mat-cell *matCellDef="let element">
        <a matTooltip="Download" (click)="onChange(element.position)">
          
          <button mat-button>
              <mat-icon>cloud_download</mat-icon>
              Start downloading
          </button>

        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>











<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>

  <div class="container">
    <h3>Reports Downloads</h3>
    <p>If you want to download the report please click on download button.</p>
    <table class="table">
      <thead>
        <tr>
          <th>Available Contents</th>
          <th>Downloads</th>

        </tr>
      </thead>
      <tbody>

        <tr class="success">
          <td>Call and Put Values </td>
          <td><button mat-raised-button type="submit" (click)="onCallPut_download()"><i class="material-icons">
                system_update_alt
              </i></button></td>

        </tr>
        <tr class="danger">
          <td>Score Reports</td>
          <td><button mat-raised-button type="submit" (click)="scoreReport_download()"><i class="material-icons">
                system_update_alt
              </i></button></td>

        </tr>
        <tr class="info">
          <td>OI Changes</td>
          <td><button mat-raised-button type="submit" (click)="OI_Changes_Download()"> <i class="material-icons">
                system_update_alt
              </i></button></td>

        </tr>
        <tr class="success">
          <td>FNO Reports </td>
          <td><button mat-raised-button type="submit" (click)="FNO_download()"><i class="material-icons">
                system_update_alt
              </i></button></td>

        </tr>
        <tr class="danger">
          <td>Score Card</td>
          <td><button mat-raised-button type="submit" (click)="score_Card_download()"><i class="material-icons">
                system_update_alt
              </i></button></td>

        </tr>
        <tr class="info">
          <td>Significant Changes in OI</td>
          <td><button mat-raised-button type="submit" (click)="significant_changes_download()"> <i
                class="material-icons">
                system_update_alt
              </i></button></td>

        </tr>
        <tr class="success">
          <td>OI Changes </td>
          <td><button mat-raised-button type="submit" (click)="oi_changes_download()"><i class="material-icons">
                system_update_alt
              </i></button></td>

        </tr>
        <tr class="danger">
          <td>Adding Most OI</td>
          <td><button mat-raised-button type="submit" (click)="adding_most_oi_download()"><i class="material-icons">
                system_update_alt
              </i></button></td>

        </tr>
        <tr class="info">
          <td>Shedding Most OI</td>
          <td><button mat-raised-button type="submit" (click)="shedding_oi_download()"> <i class="material-icons">
                system_update_alt
              </i></button></td>

        </tr>

        <tr class="success">
          <td>IV Report </td>
          <td><button mat-raised-button type="submit" (click)="iv_report_download()"><i class="material-icons">
                system_update_alt
              </i></button></td>

        </tr>


      </tbody>
    </table>
  </div>

</body>

</html> -->